<% @spectrums.each_with_index do |spectrum, index| %>
<div id="spectrum_<%= spectrum.id %>" class="well span2" style="height:170px;">
  <a href="#capture" data-toggle="tab" onClick="$W.add_spectrum(<%= spectrum.id %>);">
    <img style="width:100px;height:50px;" src="<%= spectrum.photo.url(:thumb) %>" /><br />
    <h4><%= spectrum.title %></h4>
  </a>
  <small style="color:#888;">
    By <a href="/profile/<%= spectrum.author %>" target="_blank"><%= spectrum.author %></a><br />
    <i><%= time_ago_in_words(spectrum.created_at) %> ago</i>
  </small>
</div>
<% end %>
