<h3>Save this spectrum</h3>

<% if !logged_in? %>
  <p>You must be <a target="_blank" href="/login">logged in</a> to save spectra.</p>
<% else %>
  <p><small><i>(logged in as <%=h current_user.login %>)</i></small></p>
<% end %>

<form class="form" action="/spectrums" method="post" id="saveForm" target="_blank" onSubmit="$W.cancelSave();window.location='#page1'">
  <input placeholder="Title (required)" name="spectrum[title]" id="spectrum_notes" type="text" /><br />
        <div class="input-prepend">
          <span class="add-on"><i class="icon-tags"></i></span>
          <input name="tags" id="spectrum_tags" type="text" placeholder="mobile, soil, sunlight" data-provide="typeahead" data-source="['calibration','soil','']">
        </div>
  <p>Recent tags:<span id="recent-tags"> 
    <% if @calibration %>
      (<a onClick="tag('<%= @calibration.tags.collect(&:name).join(',') %>')">all</a>)
      <% @calibration.tags.each do |tag| %>
        <a class="label label-info" onClick="tag(this.innerHTML);this.remove()"><%= tag.name %></a> 
      <% end %>
    <% end %>
  </span></p>
  <script>
    tag = function(tag) {
      if ($('#spectrum_tags').val() =="") {
        $('#spectrum_tags').val(tag)
      } else {
        $('#spectrum_tags').val($('#spectrum_tags').val()+','+tag)
      }
    }
    save_tags = function(tags) {
      tags = $('#spectrum_tags').val().split(',').concat(tags)
      $.each(tags,function(tag) {
        $('#recent-tags').append('<a class="label label-info" onClick="tag(this.innerHTML)">'+tag+'</a> ')
      })
    }
  </script>
  <br />
  <textarea placeholder="Notes" rows="6" name="spectrum[notes]" id="spectrum_notes"></textarea><br />
  <input name="dataurl" type="hidden" id="dataurl" />
  <input name="geotag" type="hidden" id="geotag" />
  <input name="lat" type="hidden" id="lat" />
  <input name="lon" type="hidden" id="lon" />
  <% if logged_in? %>
  <select name="spectrum[calibration_id]" id="calibration_id">
    <% current_user.tag('calibration',20).each do |spectrum| %>
    <option value="<%= spectrum.id %>"><%= spectrum.title %> (<%= time_ago_in_words(spectrum.created_at) %>)</option>
    <option value="calibration">[+] New calibration</option>
    <% end %>
  </select>
  <% end %>
</form>
<a class="btn btn-large" href="#capture" onClick="$W.cancelSave();$('#capture-btn').addClass('active');$('#settings-btn').removeClass('active');" data-toggle="tab">&laquo; Back</a>
<a class="btn btn-primary btn-large" href="javascript:void(0);" onClick="$('#saveForm').submit()">Save</a>
<br style="margin-top:20px;" />
