<script src="/javascripts/getUserMedia.js"> </script>
<script src="/javascripts/jquery.min.js"> </script>
<script src="/javascripts/capture.js"> </script>
<script language="javascript" type="text/javascript" src="/javascripts/flot/jquery.flot.js"></script> 
<script language="javascript" type="text/javascript" src="/javascripts/flot/jquery.flot.crosshair.js"></script>
<script language="javascript" type="text/javascript" src="/javascripts/flot/jquery.flot.threshold.min.js"></script>

<style>
  .navbar-fixed-top .nav li {
    padding-top:3px;
    font-family:junction,sans-serif;
  }
  #webcam-msg {
    position:absolute;
    background:#eee;
    color:#aaa;
    text-align:center;
    height:240px;
    width:320px;
    font-size:14px;
  }
  #webcam-msg p {
    padding:100px 20px; 
  }
  #webcam {
    position:absolute;
    z-index:1;
  }
</style>

<div class="navbar navbar-inverse navbar-static-top" style="margin-bottom:20px;padding-top:0;">
  <div class="navbar-inner" style="padding:0 10px;">
    <a class="brand" href="/"><img style="padding:-2px;width:20px;" src="/images/logo.png" /></a>
    <ul class="nav">
      <li><a href="#capture" data-toggle="tab">Capture</a></li>
      <li class="active"><a href="#settings" data-toggle="tab">Settings</a></li>
    </ul>
    <a style="margin-left:6px;" href="http://publiclaboratory.org/wiki/spectral-workbench" class="btn"><i class="icon icon-question-sign"></i></a>
  </div>
</div>

<div class="tab-content container">
<div id="settings" class="tab-pane active">
  <div id="webcam-msg"><p><b>Requesting camera access... <br />(<a href="https://play.google.com/store/apps/details?id=com.opera.browser">Opera Mobile</a> only)</b></p></div> 
  <div style="width:100%;" id="webcam"></div>

  <div style="padding-bottom:10px;padding-top:250px;">
    <h4 style="margin-top:4px">Examples: <small>(<a href="http://publiclaboratory.org/wiki/spectral-workbench-usage">Learn more &raquo;</a>)</small></h4>
    <img class="img-rounded" src="/images/example-cfl.jpg" style="width:100px;height:80px" />
    <img class="img-rounded" src="/images/example-sky.jpg" style="width:100px;height:80px" />
  </div>

  <form class="form" style="display:none;">
    <label for="sample_slider">Range</label>
    <input type="range" name="slider" id="sample_slider" value="250" min="0" max="640" data-highlight="false" />
  </form>

  <% if ios? || (mobile? && !opera?) %>
      
  <% end %>

  <a class="btn btn-large btn-primary" href="#capture" data-toggle="tab">Start capturing &raquo;</a>

</div>

<div id="capture" class="tab-pane">

  <% if params[:action] == "match" %>
  <p><b>Click "Match" to find the closest spectrum in the set "<%= @set.title %>"</b></p>
  <% end %>

  <div id="graph" style="width:100%;height:100px;"></div>
  <canvas style="width:100%;height:100px;" id="canvas"></canvas> 

  <span id="match"></span>

  <div class="btn-group">
  <% if params[:action] == "match" %>
    <a class="btn btn-primary" href="javascript:void()" onClick="$W.match();">Match</a>
    <a class="btn btn-primary" data-toggle="tab" href="#save" onClick="$W.saveSpectrum();">Save</a>
  <% else %>
      <a class="btn btn-primary btn-large" data-toggle="tab" href="#save" onClick="$W.saveSpectrum();">Save</a>
      <a class="btn btn-large" data-toggle="tab" href="#help" onClick="$W.saveSpectrum();"><i class="icon icon-question-sign"></i> Help</a>
  <% end %>
  </div>

  <form class="form">
    <label class="checkbox inline" for="geotag-toggle">Geotag</label>
    <input type="checkbox" name="geotag-toggle" id="geotag-toggle" type="checkbox" />
    <label class="checkbox inline" for="rgb-toggle">RGB</label>
    <input type="checkbox" name="rgb-toggle" id="rgb-toggle" onChange="$W.toggle_mode()" />
  </form>

    <% unless logged_in? %><p><a href="/login">Log in</a> to use a recent calibration</p><% end %>
    <p>This interface works only on <a href="https://play.google.com/store/apps/details?id=com.opera.browser">Opera Mobile</a>, the only mobile browser currently supporting the MediaStream API</p>

</div>

<div id="save" class="tab-pane">
  <%= render :partial => "save_mobile" %>
</div>

</div>

<script> (function () { 
  $W.initialize({
  	calibrated:<%= !@calibration.nil? %>,
  	mobile:true
  }) 
  setInterval($W.getRow,100)
  <% if @calibration %>
  	$W.calibrated = true
  	$W.calibration_id = <%= @calibration.id %>
  	$W.start_wavelength = <%= @start_wavelength %>
  	$W.end_wavelength = <%= @end_wavelength %>
      	flotoptions.xaxis.show = true
  <% else %>
  	$W.calibrated = false
  <% end %>
  <% if params[:action] == "match" %>
  	$W.set = <%= @set.id %>
  <% end %>
})() </script>
