<script src="/javascripts/getUserMedia.js"> </script>
<script src="/javascripts/jquery.min.js"> </script>
<script src="/javascripts/capture.js"> </script>
<script src="/javascripts/api.js"> </script>
<script language="javascript" type="text/javascript" src="/javascripts/flot/jquery.flot.js"></script> 
<script language="javascript" type="text/javascript" src="/javascripts/flot/jquery.flot.crosshair.js"></script>
<script language="javascript" type="text/javascript" src="/javascripts/flot/jquery.flot.threshold.min.js"></script>

<style>
  .navbar-fixed-top .nav li {
    padding-top:3px;
    font-family:junction,sans-serif;
  }
  #webcam-msg {
    position:absolute;
    background:#777;
    color:#aaa;
    text-align:center;
    height:240px;
    width:320px;
    font-size:14px;
  }
  a {
    color:#0af;
  }
  #webcam-msg p {
    padding:100px 20px; 
  }
  #webcam {
    position:absolute;
    z-index:1;
  }
  #header.navbar-inner {
    margin-right:-40px;
  }

  body {
    background:#444;
    color:#ccc;
  }
  hr {
    border-color:#666;
  }
</style>

<div id="header" class="navbar navbar-inverse navbar-static-top" style="padding-top:0;">
  <div class="navbar-inner" style="padding:0 10px;">
    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </a>
    <a class="brand" href="/"><img style="padding:-2px;width:20px;" src="/images/logo.png" /></a>
    <a class="btn pull-right" href="http://publiclab.org/wiki/spectral-workbench"><i class="icon icon-question-sign"></i></a>
    <ul class="nav" style="margin:0">
      <li><a href="#capture" data-toggle="tab">Capture</a></li>
      <li class="active"><a href="#settings" data-toggle="tab">Settings</a></li>
    </ul>
  </div>
</div>

<div class="tab-content" style="padding:0 20px;">

<div id="settings" class="tab-pane active">
  <div id="webcam-msg"><p><b>Requesting camera access... <br />(<a href="https://play.google.com/store/apps/details?id=com.opera.browser">Opera Mobile</a> or Chrome <a href="http://publiclab.org/wiki/spectral-workbench-mobile-setup" target="_blank">with flags enabled</a> only)</b></p></div> 
  <div style="" id="webcam"></div>

  <div style="padding-bottom:10px;padding-top:250px;">
    <p style="margin-top:4px;">Point your spectrometer at a light and it should look like the below images. (<a href="http://publiclab.org/wiki/spectral-workbench-usage">Learn more &raquo;</a>)</p>
    <img class="img-rounded" src="/images/example-cfl.jpg" style="width:100px;height:80px" />
    <img class="img-rounded" src="/images/example-sky.jpg" style="width:100px;height:80px" />
  </div>

  <form class="form" style="display:none;">
    <label for="sample_slider">Range</label>
    <input type="range" name="slider" id="sample_slider" value="250" min="0" max="640" data-highlight="false" />
  </form>

  <% if ios? || (mobile? && !opera?) %>
      
  <% end %>

  <a class="btn btn-large btn-primary" href="#capture" data-toggle="tab">Begin capturing &raquo;</a>

</div>

<div id="capture" class="tab-pane">

  <% if params[:action] == "match" %>
  <p><b>Click "Match" to find the closest spectrum in the set "<%= @set.title %>"</b></p>
  <% end %>

  <div id="graph" style="width:100%;height:100px;margin:10px 0;"></div>
  <canvas style="width:100%;height:100px;" id="canvas"></canvas> 

  <a class="btn btn-primary btn-large" data-toggle="tab" href="#save" onClick="$W.saveSpectrum();">Save</a>
  <a class="btn btn-large" data-toggle="tab" href="#help" onClick="$W.saveSpectrum();"><i class="icon icon-question-sign"></i> Help</a>

  <form class="form">
    <label class="checkbox inline" for="geotag-toggle">Geotag</label>
    <input type="checkbox" name="geotag-toggle" id="geotag-toggle" type="checkbox" />
    <label class="checkbox inline" for="rgb-toggle">RGB</label>
    <input type="checkbox" name="rgb-toggle" id="rgb-toggle" onChange="$W.toggle_mode()" />
  </form>

    <% unless logged_in? %><p><a href="/login">Log in</a> to use a recent calibration</p><% end %>
    <p>This interface works only on <a href="https://play.google.com/store/apps/details?id=com.opera.browser">Opera Mobile</a> or Chrome <a href="http://publiclab.org/wiki/spectral-workbench-mobile-setup" target="_blank">with flags enabled</a></p>

</div>

<div id="save" class="tab-pane">
  <%= render :partial => "save_mobile" %>
</div>

</div>

<script>
 (function () { 

  flotoptions.grid = {
    clickable: true,
    hoverable:true,
    borderWidth: 0,
    color: "#ccc",
    backgroundColor: "#111"
  }
  flotoptions.colors = [ "#ccc", "#E02130", "#FAB243", "#429867", "#2B5166" ]//, "#482344" ]

  $W.initialize({
  	calibrated:<%= !@calibration.nil? %>,
	interface:"capture",
  	width:640
  }) 
  setInterval($W.getRow,100)
  <% if @calibration %>
  	$W.calibrated = true
  	$W.calibration_id = <%= @calibration.id %>
  	$W.start_wavelength = <%= @start_wavelength %>
  	$W.end_wavelength = <%= @end_wavelength %>
      	flotoptions.xaxis.show = true
  <% else %>
  	$W.calibrated = false
  <% end %>
  <% if params[:action] == "match" %>
  	$W.set = <%= @set.id %>
  <% end %>
})() </script>
