<div id="embed">
<div id="graph"></div>

<script type="text/javascript">

  var sw;
  jQuery(document).ready(function($) {
    sw = new SpectralWorkbench({ set_id: <%= @set.id %> });
  })

</script>

<div class="container-fluid">
  <div class="col span12">

    <h2><a target="_blank" href="/sets/<%= @set.id %>"><%= @set.title %></a></h2>

    <p class="credit">
      by <a target="_blank" href="/profile/"><%= @set.author %></a> on <img src="/images/spectralworkbench.png" /> <a target="_blank" href="/">SpectralWorkbench.org</a>
    </p>
    <p class="social">
      <a href=""><i class="icon icon-twitter"></i></a>
      <a href=""><i class="icon icon-facebook"></i></a>
    </p>

    <table class="table">
      <tr>
        <th>Spectrum</th>
        <th>Author</th>
        <th>Tools</th>
      </tr>
      <% @set.spectra.each do |spectrum| %>
        <tr>
          <td><a href="/spectums/<%= spectrum.id %>"><%= spectrum.title %></a></td>
          <td><a href="/profile/<%= spectrum.author %>"><%= spectrum.author %></a></td>
          <td><a class="btn btn-link"><i class="icon icon-pencil"></a></td>
        </tr>
      <% end %>
    </table>

  </div>
</div>
</div>

