<script language="javascript" type="text/javascript" src="/javascripts/flot/jquery.js"></script> 
<script language="javascript" type="text/javascript" src="/javascripts/flot/jquery.flot.js"></script> 
<script language="javascript" type="text/javascript" src="/javascripts/application.js"></script> 
<div id="graph" style="width:<%= @width %>px;height:<%= @height.to_i %>px;"></div>

<script type="text/javascript">
  data = []
  <% @set.spectra.each do |spectrum| %>
  <% if spectrum.data == "" || spectrum.data.nil? %>
    spectrum_<%= spectrum.id %> = <%= spectrum.extract_data %>
  <% else %>
    spectrum_<%= spectrum.id %> = <%= spectrum.data.chomp(",") %>
  <% end %>
    data.push({data:[]})
    //data.push({label: "<%= spectrum.title %> = 0% ",data:[]})
    scaled = true
    $.each(spectrum_<%= spectrum.id %>.lines,function(index,line) {
      if (line.wavelength == null) {
	line.wavelength = index
	scaled = false
      }
      data[data.length-1].data.push([line.wavelength,line.average/(2.55)])
    })
  <% end %>
  flotoptions.xaxis.show = scaled
  $.plot($("#graph"),data,flotoptions);
</script>

<b><a href="http://spectralworkbench.org/sets/show/<%= @set.id %>"><%= @set.title %></a></b>
<span style="text-align:right;">by <a href="http://spectralworkbench.org/spectra/author/<%= @set.author %>"><%= @set.author %></a></span>
<span style="text-align:right;">on <img src="/images/spectralworkbench.png" /> <a href="http://spectralworkbench.org">SpectralWorkbench.org</a></span>
<style>
html {
	font-family: lucida grande, lucida console, arial, sans-serif;
	font-size:11px;
	padding-top:8px;
}
body {
	margin:0;
}
b {
	padding:3px;
	font-size:13px;
}
#graph {
}
</style>
