<h1>New set</h1>

<br />
<div id="spectra">
<% params[:id].split(',').each do |s| %>
  <% spectrum = Spectrum.find s %>
<img src="<%= spectrum.photo.url(:thumb) %>" />
<% end %>
</div>

<br />

<% form_for(@set, :url => {:action => "create", :id => params[:id]}) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :notes %><br />
    <%= f.text_area :notes %>
  </p>

  <p>
    <%= recaptcha_tags :display => {:theme => "white"} %>
  </p>

  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

