<div class="sidebar spectrumpage">
<div class="box">
  <p><b><a href="/sets/">&laquo; Back to sets</a></b></p>
  <br />
  <p><a class="button" href="/capture/match/<%= @set.id %>">Match to this set</a></p>
</div>
<div class="box">
  <h3>// SPECTRA IN THIS SET</h3>
    <%= render :partial => "spectra" %>
</div>
</div>

<div id="show">
<p>
<div id="graph" style="width:800px;height:200px;"></div>

<div id="toolbar">
	<p>
	<small>Embed code: <input style="font-size:11px;" id="embedcode" type="text" value="<iframe width='500px' height='200px' border='0' src='http://spectralworkbench.org/sets/embed/<%= @set.id %>'></iframe>" /></small>
	<a id="embed" class="smallbutton" href="javascript:void(0);">Custom embed</a>
	<a id="wavenumber" class="smallbutton" href="javascript:void(0);">Show wavenumber</a>
	<a class="smallbutton" href="javascript:void();" onClick="flotoptions.legend = {show:false};$.plot($('#graph'),data,flotoptions);">Hide legend</a>
	</p>
</div>

<script type="text/javascript">
(function () { 

  data = []
  <% @set.spectra.each do |spectrum| %>
  <% if spectrum.data == "" || spectrum.data.nil? %>
    spectrum = <%= spectrum.extract_data %>
  <% else %>
    spectrum = <%= spectrum.data.chomp(",") %>
  <% end %>
    data.push({label: "<%= spectrum.title %> = 0% ",data:[]})
    scaled = true
    $.each(spectrum.lines,function(index,line) {
      if (line.wavelength == null) {
	line.wavelength = index
	scaled = false
      }
      data[data.length-1].data.push([line.wavelength,line.average/(2.55)])
    })
  <% end %>
  flotoptions.xaxis.show = scaled
  $.plot($("#graph"),data,flotoptions);
		$('#embedcode').click(function() {
			this.focus()
			this.select()
		})
		$('#embed').click(function() {
			var size = prompt("What size, in WIDTHxHEIGHT?","500x150")
			var width = size.split('x')[0]
			var height = size.split('x')[1]
			$('#embedcode').val("<iframe width='"+width+"px' height='"+height+"px' border='0' src='http://spectralworkbench.org/sets/embed/<%= @set.id %>?width="+width+"&height="+height+"'></iframe>")
			$('#embedcode').focus()
			$('#embedcode').select()
		})
})()
</script>

<script>

	$('#wavenumber').click(function() {
		flotoptions.xaxis.tickFormatter = wavenumbers
		flotoptions.xaxis.tickSize = wavenumber_tickSize
		$.plot($("#graph"),data,flotoptions);
	})

</script>

</p>

<h1><%= @set.title %></h1>

<h3>// NOTES</h3>
<p class="description"><%= markdown(@set.notes) if @set.notes %></p>

<h3>// LICENSE</h3>

<p xmlns:dct="http://purl.org/dc/terms/" xmlns:vcard="http://www.w3.org/2001/vcard-rdf/3.0#">
  <a style="float:left;margin-right:6px;display:block;" rel="license" href="http://creativecommons.org/publicdomain/zero/1.0/"><img src="http://i.creativecommons.org/p/zero/1.0/88x31.png" style="border-style: none;" alt="CC0" /></a>
  To the extent possible under law,
  <%# if @spectrum.author.url %><a rel="dct:publisher" href="http://publiclaboratory.org/people/<%= @set.author %>"><%# end %>
    <span property="dct:title"><%= @set.author %></span>
  <%# if @spectrum.author.url %></a><%# end %>
  has waived all copyright and related or neighboring rights to
  "<span property="dct:title"><%= @set.title %></span>".
This work is published from:
<span property="vcard:Country" datatype="dct:ISO3166"
      content="US" about="http://publiclaboratory.org">
  United States</span>.
</p>

<hr />

<a name="comments"></a>
<h2>Comments (<%= @set.comments.length %>)</h2>

<% @set.comments.each do |comment| %>
<div class="comment">
	<a name="comment_<%= comment.id %>"></a>
	<b><%= time_ago_in_words(comment.created_at) %> ago, 
	<% if User.find_by_login(comment.author) %><a href="/spectra/author/<%= comment.author %>"><%= comment.author %></a> wrote:</b>
	<% else %><%=h comment.author %> wrote:</b>
	<% end %>
	<p><%=h comment.body %></p>
	<% if logged_in? && current_user.role == "admin" %><p><a href="/comments/delete/<%= comment.id %>">Delete</a></p><% end %>
</div>
<% end %>

<% if @jump_to_comment %>
<script>
  window.location.hash = "comments"
</script>
<% end %>

<% form_for(@comment, :url => {:controller => "sets", :action => "comment", :id => @set.id}) do |f| %>

  <h2>Post a comment</h2>
  <%= f.error_messages %>

  <p>
    <%= f.label :body %><br />
    <%= f.text_area :body, :rows => 6 %>
  </p>

  <% if !logged_in? %>
  <p>
    <%= f.label :author %><br />
    <%= f.text_field :author %>
  </p>
  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </p>
  <% end %>

  <% if !logged_in? && !APP_CONFIG["local"] %>
  <p>
    <%= recaptcha_tags :display => {:theme => "white"} %>
  </p>
  <% end %>

  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>
</div>
