<div class="sidebar spectrumpage">
<div class="box">
  <b><a href="/sets/">&laquo; Back to sets</a></b>
</div>
<div class="box">
  <h3>// SPECTRA IN THIS SET</h3>
    <%= render :partial => "spectra" %>
</div>
</div>

<div id="show">
<p>
<div id="graph" style="width:800px;height:200px;"></div>

<script type="text/javascript">
  data = []

  <% @set.spectra.each do |spectrum| %>
  <% if spectrum.data == "" || spectrum.data.nil? %>
    spectrum = <%= spectrum.extract_data %>
  <% else %>
    spectrum = <%= spectrum.data.chomp(",") %>
  <% end %>
    data.push({label: "<%= spectrum.title %>",data:[]})
    scaled = true
    $.each(spectrum.lines,function(index,line) {
      if (line.wavelength == null) {
	line.wavelength = index
	scaled = false
      }
      data[data.length-1].data.push([line.wavelength,line.average/2.55])
    })
  <% end %>
  options = {
    series: {
      lines: { 
        show: true, 
        lineWidth: 1,
      },
    },
    yaxis: { show: true },
    xaxis: { show: scaled },
    shadowSize: 0,
    grid: {
	clickable: true,
	hoverable:true,
	borderWidth: 0,
        backgroundColor: "#eee"
    },
    // Palette "i eat the rainbow" by svartedauden on Colourlovers: http://www.colourlovers.com/palette/1630898/i_eat_the_rainbow, CC-BY-NC
    colors: [ "#333333", "#E02130", "#FAB243", "#429867", "#2B5166" ]//, "#482344" ]
  }
  $.plot($("#graph"),data,options);
</script>

</p>

<h1><%= @set.title %></h1>

<h3>// NOTES</h3>
<p class="description"><%= markdown(@set.notes) if @set.notes %></p>

<h3>// LICENSE</h3>

<p xmlns:dct="http://purl.org/dc/terms/" xmlns:vcard="http://www.w3.org/2001/vcard-rdf/3.0#">
  <a style="float:left;margin-right:6px;display:block;" rel="license" href="http://creativecommons.org/publicdomain/zero/1.0/"><img src="http://i.creativecommons.org/p/zero/1.0/88x31.png" style="border-style: none;" alt="CC0" /></a>
  To the extent possible under law,
  <%# if @spectrum.author.url %><a rel="dct:publisher" href="http://publiclaboratory.org"><%# end %>
    <span property="dct:title"><%= @set.author %></span>
  <%# if @spectrum.author.url %></a><%# end %>
  has waived all copyright and related or neighboring rights to
  "<span property="dct:title"><%= @set.title %></span>".
This work is published from:
<span property="vcard:Country" datatype="dct:ISO3166"
      content="US" about="http://publiclaboratory.org">
  United States</span>.
</p>

<hr />

<a name="comments"></a>
<h2>Comments (<%= @set.comments.length %>)</h2>

<% @set.comments.each do |comment| %>
<div class="comment">
	<b><%= time_ago_in_words(comment.created_at) %> ago, <%= comment.author %> wrote:</b>
	<p><%= comment.body %></p>
	<% if !params[:password].nil? && params[:password].to_i == APP_CONFIG["password"] %><p><a href="/comments/delete/<%= comment.id %>?password=<%= APP_CONFIG["password"] %>">Delete</a></p><% end %>
</div>
<% end %>

<% if @jump_to_comment %>
<script>
  window.location.hash = "comments"
</script>
<% end %>

<% form_for(@comment, :url => {:controller => "sets", :action => "comment", :id => @set.id}) do |f| %>

  <h2>Post a comment</h2>
  <%= f.error_messages %>

  <p>
    <%= f.label :body %><br />
    <%= f.text_area :body, :rows => 6 %>
  </p>

  <p>
    <%= f.label :author %><br />
    <%= f.text_field :author %>
  </p>
  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= recaptcha_tags :display => {:theme => "white"} %>
  </p>

  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>
</div>
