<a name="comments"></a>
<h3>Comments (<%= @spectrum.comments.length %>)</h3>

<%= render :partial => "comments/list", :locals => { :comments => @spectrum.comments } %>

<br />

<% if logged_in? %>
<%= form_for [@spectrum, @spectrum.comments.build], :html => { :class => "well form", :id => "commentform" }  do |f| %>
  <h3 style="margin-top:0;">Post a comment</h3>

  <textarea name="comment[body]" id="commentbody" cols="8" rows="6"></textarea>
  <br />
  <input type='hidden' name='authenticity_token' value="<%= form_authenticity_token %>"/>
  <input id="commentsubmit" class="btn btn-primary" type="submit" value="Post" />
<% end %>
<script>
  jQuery(document).ready(function() {
    $('#commentform').bind('submit', function(e){
      e.preventDefault()
      var post_data = $(this).serializeArray();
      var form_url = $(this).attr("action");

      $.ajax({
        url: form_url,
        type: "POST",
        data: post_data,
        dataType: "json",
        beforeSend: function() {
          $("#commentbody").prop('disabled',true)
          $("#commentsubmit").prop('disabled',true)
        },
        success: function(response) {
          $('#commentlist').append('<div class="comment"><a name="comment_'+response.id+'"></a><b>Just now, <a href="/users/<%= current_user.login %>"><%= current_user.login %></a> wrote:</b><p>'+response.body+'</p><p><small><a href="/comments/delete/'+response.id+'" onclick="return confirm(\'Are you sure?\');"><i class="icon icon-remove-sign"></i> Delete</a></small></p></div>')
          $('#commentbody').prop('disabled',false)
          $('#commentbody').val('')
          $("#commentsubmit").prop('disabled',false)
        },
        error: function(response) {
          alert("There was an error and your comment couldn't be posted.")
        }
      })
    });

  });
</script>

<% else %>
<p><i>You must be logged in to comment.</i></p>
<% end %>
