<div class="row-fluid">
  <div class="col span12">

    <h2><a target="_blank" href="/<%= type %>/<%= datum.id %>"><%= datum.title %></a></h2>

    <h3 class="compact"><%= if (datum.title.length < 15) then datum.title else datum.title[0..12]+'...' end %></h3>

    <% if type == :set %>
      <div class="table-scroll-container">
        <table class="table spectra">
          <tr>
            <th style="width:14px;">Visible</th>
            <th style="width:14px;"></th>
            <th style="width:14px;">Tools</th>
            <th>Spectrum (<%= datum.spectra.length %>)</th>
            <th>Author</th>
          </tr>
          <% datum.spectra.each do |spectrum| %>
            <tr class="spectrum spectrum-<%= spectrum.id %>">
              <td style="text-align:center;">
                <input data-id="<%= spectrum.id %>" class="visible" type="checkbox" checked="true" />
              </td>
              <td>
                <div class="key"></div>
              </td>
              <td><%= render :partial => 'embed/spectrumTools', :locals => {:spectrum => spectrum} %></td>
              <td><a href="/spectrums/<%= spectrum.id %>"><%= spectrum.title %></a></td>
              <td><a href="/profile/<%= spectrum.author %>"><%= spectrum.author %></a></td>
            </tr>
          <% end %>
        </table>
      </div>
    <% end %>

    <p class="credit">
      by <a target="_blank" href="/profile/"><%= datum.author %></a> 
      on 
      <span class="spectral-workbench">
        <img src="/images/spectralworkbench.png" /> 
        <a class="normal" target="_blank" href="/">SpectralWorkbench.org</a>
        <a class="super-tiny" target="_blank" href="/">SW</a>
      </span>
    </p>
    <div class="tools">
      <a href=""><i class="icon icon-twitter"></i></a>
      <a href=""><i class="icon icon-facebook"></i></a>
      <%= render :partial => 'embed/tools', :locals => {:type => type, :datum => datum} %>
    </div>

  </div>
</div>
</div>
