<div class="container">
  <% if logged_in? && !flash[:notice] && !flash[:error] && !flash[:warning] && !mobile? %>
    <% spectrum_count = current_user.spectrum_count %>
    <% if spectrum_count < 3 %>
    <% elsif spectrum_count >= 3 %>
    <% end %>
  <% end %>

  <div class="row-fluid">

    <div class="span4">
      <div class="hidden-phone">
        <h2>Dashboard</h2>
        <hr />
      </div>

      <%= render :partial => 'spectrums/search' %>

      <div class="hidden-phone">
        <p><strong>Subscribe to the "plots-spectrometry" mailing list</strong> for support, discussion, and to share your work:</p>
        <form class="form form-inline" action="http://groups.google.com/group/plots-spectrometry/boxsubscribe"><input placeholder="you@email.com" class="input-medium" type=text name=email /> <input class="btn btn-primary" type=submit name="sub" value="Subscribe" /></form>

        <hr />

        <ul class="nav nav-list">
          <li class="nav-header">Support</li>
          <li><a href="http://publiclab.org/wiki/spectral-workbench-help">Troubleshooting/Help</a></li>
          <li><a href="http://publiclab.org/wiki/spectral-workbench-usage">Using Spectral Workbench</a></li>
          <li><a href="http://publiclab.org/wiki/spectrometer-construction">Build a spectrometer</a></li>
          <li><a href="http://publiclab.org/notes/warren/10-28-2013/spectral-workbench-offline">Offline use</a></li>
          <li class="nav-header">Research</li>
          <li><a href="http://publiclab.org/tool/spectrometer">Ongoing open source research</a></li>
          <li><a href="http://publiclab.org/wiki/spectrometer-curriculum">Theory and background</a></li>
          <li class="nav-header">Activities</li>
          <li><a href="http://publiclab.org/wiki/spectrometry-sampling">Taking and analyzing samples</a></li>
          <li><a href="http://publiclab.org/wiki/spectrometry-activities">Things to do with your spectrometer</a></li>
          <li><a href="http://publiclab.org/wiki/spectral-analysis">Applications and ideas</a></li>
        </ul>

        <hr />

        <a href="http://store.publiclab.org/products/smartphone-spectrometer"><img src="/images/smart-spec.jpg"/></a>
        <hr />
        <a href="http://store.publiclab.org/products/desktop-spectrometry-kit"><img src="/images/dsk.jpg"/></a>
        <hr />

        <hr />

      </div>


    </div>

    <div class="span8 pull-right">

      <div class="alert"><a href="http://publiclab.org/notes/warren/02-10-2015/planning-for-spectral-workbench-2-0">Learn more</a> about the upcoming Spectral Workbench 2.0 relaunch, provide suggestions and get involved.</div>

      <div class="hidden-phone">
        <h3>Recent community research <small>| <a href="http://publiclab.org/post">Share your own work &raquo;</a></small></h3>
        <iframe style="margin-bottom:20px;height:400px;width:100%;border:none;" src="http://publiclab.org/widget/spectrometer"></iframe>
      </div>

      <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#spectra"><i class="icon icon-signal"></i><span class="hidden-phone"> Spectra</span></a></li>
        <li><a data-toggle="tab" href="#comments"><i class="icon icon-comment"></i><span class="hidden-phone"> Comments</span></a></li>
        <li><a data-toggle="tab" href="#sets"><i class="icon icon-list"></i><span class="hidden-phone"> Sets</span></a></li>
        <li><a data-toggle="tab" href="#authors"><i class="icon icon-user"></i><span class="hidden-phone"> Authors</span></a></li>
        <li><a data-toggle="tab" href="#tags"><i class="icon icon-tag"></i><span class="hidden-phone"> Tags</span></a></li>
      </ul>

      <div class="tab-content">

        <div class="tab-pane active" id="spectra">
          <h3 style="padding-top:0;">
            <a name="spectra"></a>Recent spectra
            <small class="hidden-phone">
              by contributors like you |
              <a href="<%= profile_path(current_user.login) %>">Your spectra</a> |
              <a href="/popular">Popular</a> |
              <a href="/popular/recent">Recently liked</a>
          </small></h3>
          <%= render :partial => 'spectrums/list' %>
          <hr style="clear:both;" />
          <%= will_paginate @spectrums, :param_name => 'spectrums_page', :params => {:anchor => "spectrums"}, renderer: BootstrapPagination::Rails %>
        </div>

        <div class="tab-pane" id="comments">
        <h3><a name="authors"></a>Recent comments</h3>
          <%= render :partial => 'comments/list' %>
          <hr style="clear:both;" />
          <%= will_paginate @comments, :param_name => 'comments_page', :params => {:anchor => "comments"}, renderer: BootstrapPagination::Rails %>
        </div>

        <div class="tab-pane" id="sets">
          <h3><a name="sets"></a>Recent sets <small class="hidden-phone">by contributors like you</small></h3>
          <%= render :partial => 'spectrums/sets', :locals => {:row => 2} %>
          <hr style="clear:both;" />
          <%= will_paginate @sets, :param_name => 'sets_page', :params => {:anchor => "sets"}, renderer: BootstrapPagination::Rails %>
        </div>

        <div class="tab-pane" id="authors">
          <h3><a name="authors"></a>Recent authors</h3>
           <%= render :partial => 'users/list', :locals => {:row => 2} %>
          <hr style="clear:both;" />
          <%= will_paginate @users, :param_name => 'users_page', :params => {:anchor => "users"} %>
        </div>

        <div class="tab-pane" id="tags">
          <h3><a name="tags"></a>Recent tags</h3>
          <%= render :partial => 'tags/list', :locals => {:row => 2} %>
          <hr style="clear:both;" />
          <%= will_paginate @sets, :param_name => 'tags_page', :params => {:anchor => "tags"} %>
        </div>

      </div>
    </div>
  </div>
</div>
