<script language="javascript" type="text/javascript" src="/javascripts/flot/jquery.flot.js"></script> 
<script language="javascript" type="text/javascript" src="/javascripts/flot/jquery.flot.crosshair.js"></script>
<script src="/javascripts/analyze.js"> </script>

<div class="container">

  <% if logged_in? && !flash[:notice] && !flash[:error] && !flash[:warning] && !mobile? %>
    <% spectrum_count = current_user.spectra(4).length %>
    <% if spectrum_count < 3 %>
      <div class="alert error"><button type="button" class="close" data-dismiss="alert">×</button><b>Warning:</b> due to an error in the printed instructions, the webcam of your Desktop Spectrometry Kit may need to be refocused. <a href="http://publiclab.org/wiki/spectral-workbench-help#the-spectrum-image-is-blurry-no-sharp-peaks">Read more &raquo;</a></div>
    <% elsif spectrum_count >= 3 %>
      <div class="hidden-phone alert alert"><button type="button" class="close" data-dismiss="alert">×</button><a href="http://publiclab.org/post" class="btn"><i class="icon icon-pencil"></i> Share your research</a> and reach out to collaborators at <a href="http://publiclab.org">PublicLab.org</a>.</a></div>
    <% end %>
  <% end %>

  <div class="row-fluid">

    <div class="span4">
      <div class="hidden-phone">
        <h2>Dashboard</h2>
        <hr />
      </div>

      <%= render :partial => 'spectrums/search' %>

      <div class="hidden-phone">
        <p><strong>Subscribe to the "plots-spectrometry" mailing list</strong> for support, discussion, and to share your work:</p>
        <form class="form form-inline" action="http://groups.google.com/group/plots-spectrometry/boxsubscribe"><input class="input-medium" type=text name=email /> <input class="btn btn-primary" type=submit name="sub" value="Subscribe" /></form>

        <hr />
        <a href="http://spectralchallenge.org"><img src="http://farm9.staticflickr.com/8248/8558319598_2dd807da8e.jpg"/></a>
        <hr />
       
        <iframe class="shopify-widget" frameborder="0" scrolling="no" width="240" height="390" src="http://widgets.shopifyapps.com/products/desktop-spectrometry-kit?shop=publiclab.myshopify.com&style=artgallery&image-size=medium&destination=checkout"></iframe>
        <hr />

      </div>


    </div>

    <div class="span8 pull-right">

      <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#spectra"><i class="icon icon-signal"></i><span class="hidden-phone"> Spectra</span></a></li>
        <li><a data-toggle="tab" href="#comments"><i class="icon icon-comment"></i><span class="hidden-phone"> Comments</span></a></li>
        <li><a data-toggle="tab" href="#sets"><i class="icon icon-list"></i><span class="hidden-phone"> Sets</span></a></li>
        <li><a data-toggle="tab" href="#authors"><i class="icon icon-user"></i><span class="hidden-phone"> Authors</span></a></li>
      </ul>

      <div class="tab-content">

        <div class="tab-pane active" id="spectra">
          <h3 style="padding-top:0;"><a name="spectra"></a>Recent spectra <small class="hidden-phone">by contributors like you</small></h3>
          <%= render :partial => 'spectrums/list_bootstrap' %>
          <%= will_paginate @spectrums %>
        </div>
       
        <div class="tab-pane" id="comments">
          <%= render :partial => 'users/comments' %>
          <hr />
        </div>
       
        <div class="tab-pane" id="sets">
          <h3><a name="sets"></a>Recent sets <small class="hidden-phone">by contributors like you</small></h3>
          <%= render :partial => 'spectrums/sets', :locals => {:row => 4} %>
          <hr />
        </div>

        <div class="tab-pane" id="authors">
          <h3><a name="authors"></a>Recent authors</h3>
          <ul class="nav">
          <% User.find_all_by_login(@spectrums.collect(&:author).uniq).each do |user| %>
            <li><a href="/profile/<%= user.login %>"><i class="icon icon-user"></i> <%= user.login %></a></li>
          <% end %>
          </ul>
 
          <hr />
        </div>

      </div>
    </div>
  </div>
</div>
