<div id="spectra" class="container">

<h2><%= @user.login %> <small>(<%= @user.spectra.length %> spectra) | <a href="http://publiclaboratory.org/people/<%= @user.login %>">Public Lab profile &raquo;</a></small></h2>

<div class="row-fluid">
  <div class="span4 pull-right">
    <%= render :partial => 'spectrums/search' %>

    <div class="container" style="padding-left:10px;">
      <% if logged_in? && current_user.role == "admin" %>
        <br />
        <b>Email:</b> 
        <%=h @user.email %>
      <% end %>
      <br />
      <b>Signed up:</b> 
      <%=h time_ago_in_words(@user.created_at) %> ago
    </div>
    <hr />
  </div>

  <div class="span8">
    <%= render :partial => 'spectrums/list_bootstrap' %>
  </div>
</div>
</div>
