<div class="row-fluid datum-<%= type %>">
  <div class="col span12">

    <h2>
      <a target="_blank" href="/<%= type %>s/<%= datum.id %>">
        <%= datum.title %>
      </a>
      <% if type == :spectrum && datum.calibrated %>
        <a target="_blank" href="//publiclab.org/wiki/spectral-workbench-calibration">
        <i rel="tooltip" 
           title="This spectrum is wavelength calibrated!" 
           style="font-size:13px;vertical-align:middle;color:#0c5;" 
           class='icon icon-check-sign'></i>
        </a>
      <% end %>
      <% if type == :spectrum && datum.has_powertag('range') %>
        <a target="_blank" href="//publiclab.org/wiki/spectral-workbench-usage#Wavelength+range">
        <i rel="tooltip" 
           title="This spectrum is range-limited." 
           style="font-size:13px;vertical-align:middle;color:#c33;" 
           class='icon icon-resize-horizontal'></i>
        </a>
      <% end %>
    </h2>

    <h3 class="compact"><a target="_blank" href="/<%= type %>s/<%= datum.id %>"><%= if (datum.title.length < 15) then datum.title else datum.title[0..12]+'...' end %></a></h3>

    <% unless is_embed? %>
      <div class="toolbar toolbar-top">
        <%= render partial: 'graph/tools', locals: { type: type, datum: datum } %>
      </div>
    <% end %>

      <ul class="nav nav-tabs">
        <% if type == :set %>
        <li class="active"><a href="#tab-spectra"  data-toggle="tab"><i  class="icon icon-list"></i>     Spectra</a></li>
        <% elsif type == :spectrum && !is_embed? %>
        <li class="active"><a href="#tab-tools"    data-toggle="tab"><i class="icon icon-cog"></i>         Tools</a></li>
        <li>               <a href="#tab-sets"     data-toggle="tab"><i class="icon icon-list"></i>         Sets</a></li>
        <% end %>
        <% unless is_embed? %>
        <li>               <a href="#tab-comments" data-toggle="tab"><i class="icon icon-comments"></i> <%= datum.comments.length %> Comments</a></li>
        <% end %>
      </ul>
      <!-- TABLE -->

      <% if type == :set || !is_embed? %>

        <div class="tab-content">
 
          <% if type == :set %>

            <div class="tab-pane active" id="tab-spectra">       
              <%= render partial: 'graph/spectra', locals: { datum: datum } %>

              <% unless is_embed? %>

                <hr />
 
                <div class="btn-group export" style="width:100%;text-align:center;">
 
                  <a class="btn btn-small svg" onClick="SpectralWorkbench.API.Core.exportSVG('<%= type %>-<%= datum.id %>');"><b>SVG</b></a>
                  <a class="btn btn-small" href="/sets/<%= datum.id %>.json"><b>JSON</b></a>
                  <a class="btn btn-small disabled" href="/sets/<%= datum.id %>.csv"><b>CSV</b></a>
                  <a class="btn btn-small disabled" href="/sets/<%= datum.id %>.xml"><b>XML</b></a>
                  <a rel="tooltip" class="btn btn-small" href="//publiclab.org/wiki/spectral-workbench-exporting" title="About export formats"><i class="icon icon-question-sign"></i></a>
 
                </div>

                <%= render partial: 'graph/notifications', locals: { type: type } %>

              <% end %>

            </div>

          <% elsif type == :spectrum %>

            <div class="tab-pane active" id="tab-tools">       

              <div class="row-fluid">
              
                <div class="span4">

                  <div class="btn-group">

                    <a <% if !logged_in? %>rel="tooltip" title="Log in first!" <% end %>class="btn btn-small">
                      <i class="icon icon-star"></i> 
                      <span id="liked"><%= datum.like_count %></span> like<% if datum.like_count != 1 %>s<% end %>
                    </a>

                    <% if logged_in? && current_user.id != datum.id %>
                      <a id="likebtn" class="btn btn-small" href="#" onClick="$W.toggle_like(<%= datum.id %>)">
                        <i class="icon icon-star-empty"></i>
                        <span id="likeaction">
                        <% if datum.liked_by(current_user.id) %>Unlike<% else %> Like<% end %>
                        </span>
                      </a>
                    <% end %>

                  </div>

                  <% if logged_in? && current_user.login == datum.author %>

                    <div class="btn-group">
                      <a class="btn btn-small" href="/spectrums/<%= datum.id %>/edit"><i class="icon icon-pencil"></i> Edit</a>
                      <%= link_to '<i class="icon icon-remove-sign"></i> Delete'.html_safe, "/spectrums/destroy/#{datum.id}", :confirm => 'Are you sure?', :class => "btn btn-small" %>
                    </div>

                  <% end %>

                  <hr />

                  <div class="btn-group export">

                    <a class="btn btn-small svg" onClick="SpectralWorkbench.API.Core.exportSVG('<%= type %>-<%= datum.id %>');"><b>SVG</b></a>
                    <a class="btn btn-small" href="/spectrums/<%= datum.id %>.json"><b>JSON</b></a>
                    <a class="btn btn-small" href="/spectrums/<%= datum.id %>.csv"><b>CSV</b></a>
                    <a class="btn btn-small" href="/spectrums/<%= datum.id %>.xml"><b>XML</b></a>
                    <a rel="tooltip" class="btn btn-small" href="//publiclab.org/wiki/spectral-workbench-exporting" title="About export formats"><i class="icon icon-question-sign"></i></a>

                  </div>

                  <hr />

                  <%= render partial: 'tags/tagging', locals: { datum: datum, type: type, legacy: false } %>

                  <%= render partial: 'graph/notifications', locals: { type: type } %>

                </div>
              
                <div class="span8">
                  <%= render partial: 'spectrums/tools', locals: { datum: datum, type: type } %>
                </div>
             
              </div>
            </div>
 
            <div class="tab-pane" id="tab-sets">
              <%= render partial: 'graph/sets', locals: { sets: @spectrum.sets } %>
            </div>
          <% end %>
 
          <div class="tab-pane" id="tab-comments">       
            <div class="row-fluid">
            
              <div class="span2">
              </div>
            
              <div class="span8">
                <%= render partial: 'comments/list', locals: { datum: datum, comments: datum.comments } %>
              </div>
      
            </div>
          </div>
 
        </div>
      <% end %>
 
      <% if is_embed? %>
        <div class="toolbar toolbar-bottom">
          <%= render :partial => 'graph/tools', :locals => { type: type, datum: datum } %>
        </div>
      <% end %>
 
    </div>
  </div>
</div>
