<div class="toolbar">
  <p class="credit">
    by <a target="_blank" href="/profile/"><%= datum.author %></a> 
    <span class="site">
      on 
      <span class="spectral-workbench">
        <img src="/images/spectralworkbench.png" /> 
        <a class="normal" target="_blank" href="/">SpectralWorkbench.org</a>
        <a class="super-tiny" target="_blank" href="/">SW</a>
      </span>
    </span>
  </p>

  <div class="tools">
    <a target="_blank" href="http://twitter.com/share?text=<%= datum.title %> on @PublicLab's Spectral Workbench&url=http://spectralworkbench.org/<%= type %>/<%= datum.id %>"><i class="icon icon-twitter"></i></a>
    <a target="_blank" href="http://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fspectralworkbench.org%2F<%= type %>s%2F<%= datum.id %>"><i class="icon icon-facebook"></i></a>
    <a href="#embed-modal" data-toggle="modal"><i class="icon icon-share"></i></a>
    <div class="dropup"> 
      <a data-toggle="dropdown" class="dropdown-toggle settings" href="#"><i class="icon icon-cog"></i></a>
      <ul class="dropdown-menu" role="menu">
        <li><a href="//publiclab.org/wiki/spectral-workbench-help">Help</a></li>
        <li class="divider"></li>
        <li><a onClick="$W.run_macro('warren','equalize-height');">Equalize height</a></li>
        <li><a href="/<%= type %>/<%= datum.id %>">Comment</a></li>
      </ul>
    </div>
  </div>
</div>
