<p id="tags" class="swb-tags tags">
  <b>Tags:</b> 
  <span class="list">
    <% if legacy %>
      <%= render partial: "tags/inlineList", locals: { datum: datum } %>
    <% else %>
      <span class="loading" style="color:#aaa">Loading...</span>
    <% end %>
  </span>
</p>

<form id="swb-tag-form-<%= datum.id %>" class="swb-tag-form form tag-form" action="/tags">
  <input type="hidden" name="tag[<%= datum.class.name.downcase %>_id]" value="<%= datum.id %>" />
  <div class="control-group">
    <div class="input-prepend">
      <span class="add-on"><i class="fa fa-tags"></i></span>
      <input class="name" name="tag[name]" type="text" class="span10" placeholder="soil, sunlight" data-provide="typeahead" data-source="['calibration','soil','']" autocomplete=off>
    </div>
  </div>
</form>

<% if legacy %>

<script>
  jQuery(document).ready(function() {
    SpectralWorkbench.UI.initTagForm('#swb-tag-form-<%= datum.id %>', <%= datum.id %>);
  });
</script>

<% end %>
