<p id="tags">
  <b>Tags:</b> 
  <span>
  <% datum.tags.each do |tag| %> 
    <span id="tag_<%= tag.id %>" class="label label-info<%= tag.colors %>"> 
      <a href="<%= tag_path(tag.name) %>"><%= tag.name %></a> 
      <% if logged_in? && (tag.user_id == current_user.id || tag.spectrum.author == current_user.login || current_user.role == "admin") %>
        <a class='tagdelete' data-method='delete' href='<%= tag_path(tag) %>'>x</a>
      <% end %>
    </span>
  <% end %>
  </span>
</p>

<form id="tag-form-<%= datum.id %>" class="form" action="/tags">
  <input type="hidden" name="tag[<%= datum.class.name.downcase %>_id]" value="<%= datum.id %>" />
  <div class="control-group">
    <div class="input-prepend">
      <span class="add-on"><i class="icon-tags"></i></span>
      <input class="name" name="tag[name]" type="text" class="span10" placeholder="soil, sunlight" data-provide="typeahead" data-source="['calibration','soil','']">
    </div>
  </div>
</form>

<script>

  jQuery(document).ready(function() {

    SpectralWorkbench.UI.initTagForm('#tag-form-<%= datum.id %>', <%= datum.id %>);

  });
</script>
