<% if @mappable.length > 0 %>
<div style="margin:0 10px;">

  <link rel="stylesheet" href="/lib/leaflet/dist/leaflet.css" />
  <script src="/lib/leaflet/dist/leaflet.js"></script>

  <div id="map_box">

    <div style="width:100%;height:400px;" id="map"></div>

    <script>

      jQuery(document).ready(function() {

        var map = L.map('map').setView([0,20], 2);
        L.tileLayer("https://a.tiles.mapbox.com/v3/jywarren.map-lmrwb2em/{z}/{x}/{y}.png").addTo(map);
    
        <% geolocated = 0 %>
        <% @mappable.each do |spectrum| %><% if spectrum.lat != 0 %>L.marker([<%= spectrum.lat %>, <%= spectrum.lon %>]).addTo(map).bindPopup("<a href='<%= spectrum_path(spectrum.id) %>'><%= spectrum.title %></a>");<% geolocated += 1 %><% end %><% end %>

      });

    </script>

  </div>

</div>

<% end %>

<div class="container-fluid" style="clear:both;padding:10px;">

  <div class="btn-group hidden-phone pull-right" style="padding-top:10px;">
    <a class="btn btn-small" href="<%=h tag_path(params[:id]) %>.json"><b>JSON</b></a>
    <a class="btn btn-small" href="<%=h tag_path(params[:id]) %>.xml"><b>XML</b></a>
    <a rel="tooltip" class="btn btn-small" href="http://publiclab.org/wiki/spectral-workbench-exporting" title="About export formats"><i class="fa fa-question-circle"></i></a>
  </div>

  <h2 style="margin-left:30px;">Spectra tagged with "<%=h params[:id] %>"</h2>

  <%= render :partial => 'spectrums/list', locals: { spectrums: @spectrums } %>

  <%= will_paginate @spectrums, renderer: BootstrapPagination::Rails %>

  <% if @spectrums.length == 0 %>
    <div style="padding-left:35px;"><p>No results for tag "<%=h params[:id] %>"</p></div>
  <% end %>

  <hr style="clear:both;" />

</div>
