<div style="margin-left:10px;">
  <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.4/leaflet.css" />
  <!--[if lte IE 8]>
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.4/leaflet.ie.css" />
  <![endif]-->
  <script src="http://cdn.leafletjs.com/leaflet-0.4/leaflet.js"></script>

  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#graph">Graph</a></li>
    <li><a data-toggle="tab" href="#map_box" onClick="setTimeout(init_map,1000);is_initialized = true;"><i class="fa fa-globe"></i> Map (<span id="mapcount">0</span>)</a></li>
  </ul>

  <div class="tab-content">
    <div id="map_box" class="tab-pane">
      <div class="span12" style="height:400px;" id="map"></div>
  <script>
    is_initialized = false
    init_map = function(){
    var map = L.map('map').setView([0,20], 2);
    L.tileLayer("http://a.tiles.mapbox.com/v3/jywarren.map-lmrwb2em/{z}/{x}/{y}.png").addTo(map)

    <% geolocated = 0 %>
    <% @spectrums.each do |spectrum| %><% if spectrum.lat != 0 %>L.marker([<%= spectrum.lat %>, <%= spectrum.lon %>]).addTo(map).bindPopup("<a href='<%= spectrum_path(spectrum.id) %>'><%= spectrum.title %></a>");<% geolocated += 1 %><% end %><% end %>
    }
    $('#mapcount').html("<%= geolocated.to_s %>")
  </script>

    </div>

    <div class="tab-pane active" style="margin-left:20px;width:90%;height:200px;margin-top:10px;margin-bottom:10px;" id="graph"></div>
  </div>

</div>

<div style="padding:10px;">

  <div class="btn-group hidden-phone pull-right" style="padding-top:10px;">
    <a class="btn btn-small" href="<%=h tag_path(params[:id]) %>.json"><b>JSON</b></a>
    <a class="btn btn-small" href="<%=h tag_path(params[:id]) %>.xml"><b>XML</b></a>
    <a rel="tooltip" class="btn btn-small" href="http://publiclab.org/wiki/spectral-workbench-exporting" title="About export formats"><i class="fa fa-question-circle"></i></a>
  </div>

  <h2 style="margin-left:10px;">Spectra tagged with "<%=h params[:id] %>"</h2>

  <% if @tag %>
    <%= render :partial => 'spectrums/list' %>
    <%= will_paginate @spectrums, renderer: BootstrapPagination::Rails %>
  <% else %>
    <p>No results for tag "<%=h params[:id] %></p>
  <% end %>

  <hr style="clear:both;" />
</div>

<script type="text/javascript">
  data = []

  <% @spectrums.each do |spectrum| %>
    <% if spectrum.calibrated %>
      <% if spectrum.data == "" || spectrum.data.nil? %>
        spectrum = <%= raw spectrum.extract_data %>
      <% else %>
        spectrum = <%= raw spectrum.data.chomp(",") %>
      <% end %>
        data.push({data:[]})
        scaled = true
        $.each(spectrum.lines,function(index,line) {
          if (line.wavelength == null) {
            line.wavelength = index
            scaled = false
          }
          data[data.length-1].data.push([line.wavelength,line.average/2.55])
        })
    <% end %>
  <% end %>
  flotoptions.xaxis.tickFormatter = function(nm) { return nm }
  flotoptions.xaxis.show = true
  flotoptions.xaxis.max = 1000
  flotoptions.xaxis.min = 200
  flotoptions.colors = ["#ddd"]
  flotoptions.colors = ["#ddd"]
  flotoptions.grid.backgroundColor = "#222"
  $.plot($("#graph"),data,flotoptions);
</script>
