<div class="tools-index row-fluid">

  <div class="span4 tool-menu">

    <h5>Versioning <a href="//publiclab.org/wiki/spectral-workbench-tools#Versioning"><i class="fa fa-question-mark"></i></a></h5>
    <p><a class="btn btn-small" href="/spectrums/clone/<%= @spectrum.id %>">Clone this spectrum</a> and work on a copy</p>

    <h5>Data processing and display <a href="//publiclab.org/wiki/spectral-workbench-tools#Data+processing+and+display"><i class="fa fa-question-mark"></i></a></h5>
    <p><a class="btn btn-small tool-calibrate<%= ' btn-primary' unless @spectrum.calibrated %>">Calibrate</a> this spectrum</p>
    <p><a class="btn btn-small tool-copy-calibration">Copy calibration</a></p>
    <p><a class="btn btn-small tool-subtraction">Subtract</a> another spectrum</p>
    <p><a class="btn btn-small tool-range">Set wavelength range</a></p>
    <p><a class="btn btn-small tool-transform">Transform</a></p>
    <p><a class="btn btn-small tool-smooth">Smooth</a></p>
    <p><a class="btn btn-small disabled">Change units</a></p>

    <h5>Data extraction <a href="//publiclab.org/wiki/spectral-workbench-tools#Data+extraction"><i class="fa fa-question-mark"></i></a></h5>
    <p><a class="btn btn-small tool-cross-section">Set new cross-section</a></p>
    <p><a class="btn btn-small" href="/spectra/reverse/<%= datum.id %>">Flip image</a> horizontally</p>
    <p><a class="btn btn-small" href="/spectra/find_brightest_row/<%= datum.id %>">Set new cross-section</a> by %</p>
    <p><a class="btn btn-small disabled">Detect brightest cross-section</a></p>

    <h5>Comparison &amp; Sets <a href="//publiclab.org/wiki/spectral-workbench-tools#Comparisons+&amp;+Sets"><i class="fa fa-question-mark"></i></a></h5>
    <p><a class="btn btn-small tool-compare">Compare</a> with another spectrum</p>
    <p><a class="btn btn-small tool-similar">Find similar</a></p>
    <p><a class="btn btn-small disabled">Add to a set</a></p>
    <p><a class="btn btn-small disabled">Save as a set</a></p>

    <p>Want a tool that's not listed here? <a href="//publiclab.org/wiki/spectral-workbench-wishlist">Add a request</a> to the Wishlist, or <a href="//publiclab.org/wiki/spectral-workbench-api">learn how to write a macro</a>.</p>

  </div>

  <div style="display:none;" class="datum-tool-pane span8">

    <%= render partial: 'macros/toolPane' %>

  </div>

  <div class="span8 macros-pane">

    <table class="table operations">

      <tr>
        <th style="width: 28px;"></th>
        <th>Operation</th>
        <th>Date</i></th>
        <th>Description</th>
        <th></th>
      </tr>

    </table>

    <small>

      <p><a href="//publiclab.org/wiki/spectral-workbench-api#Operations">Operations</a> enable reversible modification of data -- they act like filters which process the data. The graph you see above represents the data <b>after</b> these operations have been run. Delete them to undo their effects, or to apply them in a new order.</p>

      <ul>

        <li>The <i class="fa fa-thumb-tack"></i> thumbtack symbol indicates that data has been <a target="_blank" href="https://publiclab.org/wiki/spectral-workbench-snapshots">saved in a snapshot</a> upon running that operation.</li>

        <li>The <i class="fa fa-chevron-circle-down"></i> symbol indicates that the operation's data snapshot is being referred to by another operation. Click it to learn more.</li>

        <li>Operations with a <code>#000</code>-style suffix, like <span class="label purple">subtract:3243#2414</span> are referring to a specific snapshot (in this example, <b>#2414</b>) of another spectrum. <a href="https://publiclab.org/wiki/spectral-workbench-snapshots#References">Click to learn more</a>.</li>
      <ul>

    </small>

  </div>

</div>
