<p>
  <b>Title:</b>
  <%=h @spectrum.title %>
</p>

<p>
  <b>Author:</b>
  <%=h @spectrum.author %>
</p>

<p>
  <b>Data:</b>
  <%=h @spectrum.data %>
</p>

<p>
  <b>Notes:</b>
  <%=h @spectrum.notes %>
</p>

<p>
  <b>Version:</b>
  <%=h @spectrum.version %>
</p>

<p>
  <% if @spectrum.photo.exists? then %>
    <p><%= image_tag @spectrum.photo.url(:large) %></p>
  <% end %>
</p>

<%= link_to 'Edit', edit_spectrum_path(@spectrum) %> |
<%= link_to 'Back', spectrums_path %>
