<img class="spectrum" src="<%= @spectrum.photo.url(:large) %>" />

<div id="graph"></div>

<script type="text/javascript">
  jQuery(document).ready(function($) {
//    SpectralWorkbench.initialize({ spectrum_id: <%= @spectrum.id %> });
      sw = new SpectralWorkbench({ spectrum_id: <%= @spectrum.id %> });
  })
</script>

<div class="container-fluid">
  <div class="col span12">

    <h2><a target="_blank" href="/spectrums/<%= @spectrum.id %>"><%= @spectrum.title %></a></h2>

    <p style="text-align:center;">
      by <a target="_blank" href="/profile/"><%= @spectrum.author %></a> on <img src="/images/spectralworkbench.png" /> <a target="_blank" href="/">SpectralWorkbench.org</a>
    </p>

  </div>
</div>
