<div id="spectra" class="container">

<% if params[:action] == "search" %>
<h2>Search for "<%= params[:id] %>"</h2>
<% else %>
<h2>Spectra for <%= params[:id] %> 
<% if User.find_by_login(params[:id]) %>
  (<%= User.find_by_login(params[:id]).spectrum_count %>)
<% end %>
</h2>
<% end %>

<div class="row-fluid">
  <div class="span4">
    <%= render :partial => 'search' %>
    <hr />
    <h3>Related sets</h3>
    <%= render :partial => 'sets' %>
    <%= will_paginate @sets, :param_name => :set_page, renderer: BootstrapPagination::Rails %>
  </div>

  <div class="span8">
    <%= render :partial => 'list', locals: { spectrums: @spectrums } %>
    <%= will_paginate @spectrums, renderer: BootstrapPagination::Rails %>
  </div>
</div>
</div>
