<%= render :partial => "embed/modal", :locals => { datum: @spectrum, type: :spectrum } %>

<div class="spectrum-img-container">
  <img class="spectrum" src="<%= @spectrum.photo.url(:large) %>" />
</div>

<div id="graphing" class="spectrums">

  <div id="graph">
    <div class="zoom"><a onClick="graph.zoom();" class="btn-zoom"><i class="icon icon-zoom-in"></i></a></div>
    <i class="icon icon-spinner icon-spin"></i>
  </div>

    <script type="text/javascript">
 
    var graph; // for debugging, and currently, some ToolPane calls :-(
    jQuery(document).ready(function($) {
      graph = new SpectralWorkbench.Graph({
        spectrum_id: <%= @spectrum.id %>,
        calibrated: <%= @spectrum.calibrated %>,
        range: <%= @spectrum.has_powertag('range') ? @spectrum.range : false %>
      });
    })
 
    </script>
 
    <%= render :partial => "graph/header", :locals => {type: :spectrum, datum: @spectrum } %>
 
    <div class="row-fluid below">
      <div class="col span12">
  
        <div class="row-fluid">
        
          <div class="span4">
  
            <div class="btn-group">
  
              <%= render partial: "likes/buttons", locals: { datum: @spectrum } %>
  
            </div>
  
            <% if logged_in? && current_user.login == @spectrum.author %>
  
              <div class="btn-group">
                <a class="btn btn-small" href="/spectrums/<%= @spectrum.id %>/edit"><i class="icon icon-pencil"></i></a>
                <%= link_to '<i class="icon icon-trash"></i>'.html_safe, "/spectrums/destroy/#{@spectrum.id}", :confirm => 'Are you sure?', :class => "btn btn-small" %>
              </div>
  
            <% end %>

            <hr />
  
            <%= render partial: 'graph/notifications', locals: { type: :spectrum } %>
  
            <hr />
  
            <div class="btn-group export">
  
              <a target="_blank" class="btn btn-small svg" onClick="SpectralWorkbench.API.Core.exportSVG('spectrum-<%= @spectrum.id %>');"><b>SVG</b></a>
              <a target="_blank" rel="tooltip" title="Currently displayed data" class="btn btn-small btn-download-json"><b>JSON</b></a>
              <a target="_blank" rel="tooltip" title="Raw data before modifications" class="btn btn-small" href="/spectrums/<%= @spectrum.id %>.json"><b>raw JSON</b></a>
              <a target="_blank" class="btn btn-small" href="/spectrums/<%= @spectrum.id %>.csv"><b>CSV</b></a>
              <a target="_blank" class="btn btn-small" href="/spectrums/<%= @spectrum.id %>.xml"><b>XML</b></a>
              <a rel="tooltip" class="btn btn-small" href="//publiclab.org/wiki/spectral-workbench-exporting" title="About export formats"><i class="icon icon-question-sign"></i></a>
  
            </div>
  
            <hr />
  
            <%= render partial: 'tags/tagging', locals: { datum: @spectrum, type: :spectrum, legacy: false } %>
  
          </div>
        
          <div class="span8">
  
            <ul class="nav nav-tabs">
              <li class="active"><a href="#tab-tools"              data-toggle="tab"><i class="icon icon-cog"></i> Tools</a></li>
              <li>               <a href="#tab-sets"               data-toggle="tab"><i class="icon icon-list"></i> Sets</a></li>
              <li>               <a href="#tab-comments"           data-toggle="tab"><i class="icon icon-comments"></i> <%= @spectrum.comments.length %> Comments</a></li>
              <li class="comparisons" style="display:none;"><a href="#tab-comparisons" data-toggle="tab"><i class="icon icon-columns"></i> Comparisons</a></li>
            </ul>
           
            <div class="tab-content">

              <div class="tab-pane active" id="tab-tools">
                <%= render partial: 'spectrums/tools', locals: { datum: @spectrum, type: :spectrum } %>
              </div>

              <div class="tab-pane" id="tab-comparisons">

                <p>These spectra are being temporarily displayed for comparison; <a onClick="graph.refresh();$('table.comparisons tr.spectrum').remove();">Clear all</a></p>

                <table class="table comparisons">
                  <tr>
                    <th>Title</th>
                    <th>Author</th>
                    <th>Tools</th>
                  </tr>
                </table>

                <p><a target="_blank" class="btn btn-save-as-set">Save these as a set</a></p>

              </div>

              <div class="tab-pane" id="tab-sets">
                <%= render partial: 'graph/sets', locals: { sets: @spectrum.sets } %>
              </div>
             
              <div class="tab-pane" id="tab-comments">       
                <%= render partial: 'comments/list', locals: { datum: @spectrum, comments: @spectrum.comments } %>
              </div>
           
            </div>

          </div>
    
        </div>
      </div>
    </div>
  </div>
</div>
