<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>PLOTS Spectral Workbench: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'style.css' %>
  <!--[if lte IE 8]><script language="javascript" type="text/javascript" src="/javascripts/flot/excanvas.min.js"></script><![endif]-->
  <link rel="stylesheet" href="/stylesheets/smoothness/jquery-ui-1.8.21.custom.css">

  <script language="javascript" type="text/javascript" src="/javascripts/flot/jquery.js"></script> 
  <script language="javascript" type="text/javascript" src="/javascripts/flot/jquery.flot.js"></script> 
  <script language="javascript" type="text/javascript" src="/javascripts/flot/jquery.flot.crosshair.js"></script>
  <script language="javascript" type="text/javascript" src="/javascripts/jquery-ui-1.8.21.custom.min.js"></script>
  <%= javascript_include_tag "application" %>
  <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
  <link href="/spectra/feed" rel="alternate" type="application/rss+xml" title="Recent spectra from SpectralWorkbench.org" />
</head>
<body>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div id="header">
	<div class="links">
		<a href="/">Home</a> | 
		<a href="http://publiclaboratory.org/wiki/spectral-workbench">About</a> | 
		<a href="http://publiclaboratory.org/wiki/spectral-workbench-usage">Learn how</a> | 
		<a href="http://publiclaboratory.org/wiki/spectral-workbench-help">Help</a> | 
		<a href="http://publiclaboratory.org/wiki/spectral-workbench-download">Download</a> | 
		<a href="http://publiclaboratory.org/wiki/video-spectrometer-construction">Build a spectrometer</a>
		<% if logged_in? %>
		|| 
		<a href="/dashboard">Dashboard</a> | 
		<a href="/profile"><%=h current_user.login %></a> | 
		<%= link_to 'Logout', logout_path %>
		<% else %>
		|| <%= link_to 'Log in', login_path %>
		<% end %>
	</div>
	<div id="captureBtns">
		<a href="/spectrums/new" class="button">Upload a spectrum &raquo;</a>
		<a class="button" href="/capture">Capture online (beta) &raquo;</a>
	</div>
	<h1><a href="/"><img src="/images/logo.png" /></a><a class="title" href="/">PLOTS Spectral Workbench</a></h1>
</div>

<% if flash[:notice] %><p class="flash notice"><%= flash[:notice] %></p><% end %>
<% if flash[:error] %><p class="flash error"><%= flash[:error] %></p><% end %>

<div id="page">

<%= yield %>

<div id="footer">
<hr />

<p>PLOTS Spectral Workbench is open source and under development -- it's not complete! If you are interested in collaborating and/or contributing to its development, please join the <a href="http://publiclaboratory.org/join">PLOTS website</a> and get in touch via the mailing list (you'll be automatically subscribed). Or just <a href="http://github.com/jywarren/spectral-workbench">fork it on GitHub</a>.</p>

</div>

</div>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-30020531-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</body>
</html>
