<% @spectrums.each do |spectrum| %>
<div id="spectrum_<%= spectrum.id %>" class="spectrum comparison">
<img width="100px" src="<%= spectrum.photo.url(:thumb) %>" /><br />
<p><b><%= spectrum.title %></b></p> 
<a class="smallbutton" id="spectrum_btn_<%= spectrum.id %>" href="javascript:void(0);">Add +</a> <span id="scaledFlag_<%= spectrum.id %>"></span></p>
<script>

  <% if spectrum.data == "" %>
    spectrum_<%= spectrum.id %> = <%= spectrum.extract_data %>
  <% else %>
    spectrum_<%= spectrum.id %> = <%= spectrum.data.chomp(",") %>
  <% end %>

  spectrum_<%= spectrum.id %>_data = []
  scaled = true
  $.each(spectrum_<%= spectrum.id %>.lines,function(index,line) {
    if (line.wavelength == null) {
      line.wavelength = index
      scaled = false
    }
    spectrum_<%= spectrum.id %>_data.push([line.wavelength,line.average/2.55])
  })
  if (!scaled) $('#scaledFlag_<%= spectrum.id %>').html('(<a href="http://publiclaboratory.org/wiki/spectral-workbench-calibration">Uncalibrated</a>)')

  $("#spectrum_btn_<%= spectrum.id %>").click(function() {
    spectra.push(<%= spectrum.id %>)
    $("#createSet").show()
    data.push({id: <%= spectrum.id %>, label:"<%= spectrum.title %> = 0% (<a href='javascript:void(0);' onClick='remove(\"<%= spectrum.id %>\")'>remove</a>)", data: spectrum_<%= spectrum.id %>_data})
    plot = $.plot($("#graph"),data,options);
    init_hovers();
    $("#spectrum_<%= spectrum.id %>").remove()
  })
  function remove(id) {
    $.each(data,function(index,s) {
      if (s.id == id) {
        data.splice(index,1)
      }
    })
    $.each(spectra,function(index,s) {
      if (s == id) {
        spectra.splice(index,1)
      }
    })
    plot = $.plot($("#graph"),data,options);
    init_hovers();
  }

</script>
</div>
<% end %>
