<div id="list">
<% @spectrums.each do |spectrum| %>

<div class="spectrum">
    <% if spectrum.photo.exists? then %>
	<% if spectrum.slice_data_url.nil? %>
	<a href="/spectrums/show/<%= spectrum.id %>"><%= image_tag spectrum.photo.url(:thumb) %></a>
	<% else %>
	<a href="/spectrums/show/<%= spectrum.id %>"><div src="<%= spectrum.photo.url(:thumb) %>" class="slice" style="background:url('<%= spectrum.slice_data_url %>') repeat-y left;"></div></a>
	<% end %>
    <% end %>
    <h2><%=h spectrum.title %></h2>
    <p><a href="/spectrums/author/<%=h spectrum.author %>"><%=h spectrum.author %></a></p>
    <p><%=h spectrum.notes %></p>
    <p>
	<a href="/spectrums/detail/<%= spectrum.id %>">Detail</a> | 
	<%= link_to 'Edit', edit_spectrum_path(spectrum) %>
    </p>
</div>
<% end %>
</div>
<br style="clear:both;" />
