<div class="sidebar">
	<p style="padding-bottom:10px;">
		<a href="/spectrums/new" class="button">Upload a spectrum &raquo;</a>
	</p>
	<div class="box search">
		<form action="/spectra/search" method='get'>
			<input class='text' type='text' name='q' value='<%= params[:id] %>'/>
			<input type='submit' value='search' />
		</form>
	</div>

	<div class="box">
		<h2>Buy a spectrometer kit</h2>
		<% if !APP_CONFIG["local"] %>
		<p><a class="wepay-widget" href="https://www.wepay.com/shop/item/895558/885355?widget_type=shop&amp;widget_shop_id=895558&amp;widget_item_id=885355&amp;widget_size=medium&amp;widget_auth_token=1a69aa11ff4d3ff0d3dbde76bfbdce66855f54df">Buy HD Video Spectrometer kit</a></p>
<script id="wepay-widget_script" type="text/javascript" src="https://static.wepay.com/js/widget.wepay.js"></script>

		<% end %>
		<p>Or, <a href="http://publiclaboratory.org/wiki/video-spectrometer-construction">learn how to make one yourself</a> as part of an open-source research effort of the <a href="http://publiclaboratory.org">Public Laboratory</a> community.</p>
	</div>

	<div class="box">
		<h2>What is spectrometry?</h2>

		<p>Spectrometry can reveal the composition of unknown materials -- either from samples you take from a site, or (with more difficulty) from a distance. It is used by NASA to identify substances on other planets. Typically, full-spectrum light (such as the sun) shines through a thin slice of the sample, which filters (absorbs) certain colors and allows others to pass through. This light can be split up by color using a prism, and the missing (absorbed) colors can be identified. Finally, the brightness of all the colors is compared to a database of known samples to find a match.</p>
		<p>Things can get more complicated, as when there are multiple substances in a sample, or when a substance is dissolved in water. Spectrometry is a broad and complex field, but some simple techniques have been successfully used in the field -- such as identifying Poly-Aromatic Hydrocarbons (PAHs, a common contaminant from oil) by shining strong UV light through a sample, and measuring what colors it fluoresces. You can read more about the kinds of spectrometry we're attempting <a href="http://publiclaboratory.org/tool/spectrometer">on the PLOTS website.</a></p>
	</div>

	<div class="box">
		<h2>Recent comments</h2>

		<% @comments.each do |comment| %>
			<p><b><%= time_ago_in_words(comment.created_at) %> ago, <%= comment.author %> wrote:</b>
			<%= sanitize(truncate(comment.body,40,"...")) %> <br /><a href="/spectra/show/<%= comment.spectrum_id %>">Read more &raquo;</a></p>
		<% end %>

	</div>

</div>
