<script src="/javascripts/getUserMedia.js"> </script>
<script src="/javascripts/capture.js"> </script>

<br />

<div id="capture">
	<div id="captureControls">
		<a class="button" href="javascript:void(0);" onClick="$W.saveSpectrum()">Save</a>
		<% unless @set.nil? # if we're matching against a set %>
			<a class="button" href="javascript:void(0);" onClick="$W.match()">Match</a>
			<div id="match"></div>
		<% end %>
		<span><i>Calibrated <%= time_ago_in_words(@calibration.created_at) %> ago. (<a href="http://publiclaboratory.org/wiki/recalibrate-spectral-workbench" target="_blank">Recalibrate &raquo;</a>)</i></span>
		<p><a href="javascript:void(0);" onClick="$('#configure').toggle()">Configure</a> | Don't see anything? <a href="http://publiclaboratory.org/wiki/spectral-workbench-web-video">Enable webcam access</a> in the Google Chrome browser</p>
	</div>

	<div style="display:none;" id="configure">
		<label for="range">Range:</label>
		<input type="text" id="range" style="border:0; font-weight:bold;" />
		<br />
		<div style="float:right;height:480px;" id="sample_slider"></div>
		<div id="webcam"></div> 
	</div>

	<canvas width="640px" id="canvas"></canvas> 
	<br />
	<div id="graph" style="width:640px;height:200px;"></div>

</div>

<script> (function () { 
	$W.initialize(<%= !@calibration.nil? %>) 
	setInterval($W.getRow,250)
	<% if @calibration %>
		$W.calibrated = true
		$W.calibration_id = <%= @calibration.id %>
		$W.start_wavelength = <%= @start_wavelength %>
		$W.end_wavelength = <%= @end_wavelength %>
    		flotoptions.xaxis.show = true
	<% else %>
		$W.calibrated = false
	<% end %>

	$("#sample_slider").slider({
		range: true,
		orientation: "vertical",
		min: 0,
		max: $W.height,
		values: [ $W.height-$W.sample_end_row, $W.height-$W.sample_start_row ],
		slide: function(event,ui) {
			$("#range").val( ui.values[1] + " - " + ui.values[0] );
			$W.setSampleRows($W.height-ui.values[1],$W.height-ui.values[0])
		}
	});
	$( "#range" ).val( $( "#sample_slider" ).slider( "values", 0 ) + " - " + $( "#sample_slider" ).slider( "values", 1 ) )

})() </script>
<div id="save" style="display:none;">

<h2>Save this spectrum</h2>

<p>You must be <a target="_blank" href="/login">logged in</a> to save spectra.</p>
<p><a href="javascript:$('#save').hide();$('#capture').show();">cancel</a></p>

<form action="/sets/match/1" method="post">
	<input name="match[calibration]" type="hidden" id="match_calibration" value="<%= @calibration.id %>" />
	<input name="match[dataurl]" type="hidden" id="match_dataurl" />
</form>

<form action="/spectrums" method="post">
	<label for="spectrum_title">Title:</label><br />
	<input name="spectrum[title]" id="spectrum_notes" type="text" /><br />
	<label for="spectrum_notes">Notes:</label><br />
	<input name="spectrum[notes]" id="spectrum_notes" type="text" /><br />
	<label for="tags">Tags:</label><br />
	<input name="tags" id="spectrum_tags" value="webclient," type="text" /><br />
	<input name="dataurl" type="hidden" id="dataurl" />
	<input type="submit" value="Save" />
</form>
</div>

