<h1>Editing spectrum</h1>

<p>
<img src="<%= @spectrum.photo.url(:large) %>" />
</p>

<% if params[:login] && !logged_in? %>
<div class="notice" id="login_prompt">
<h3>You must be logged in to save spectra</h3>
<p>Please log in first:</p>
<p><a href="/login?return_to=/spectra/edit/<%= @spectrum.id %>" class="button">Log in</a></p>
</div>
<% end %>

<% if logged_in? %>
<% form_for(@spectrum,:html => { :multipart => true }) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :notes %><br />
    <%= f.text_area :notes %>
  </p>
  <p>
    <%= f.submit 'Update' %>
    <% if admin %><%= button_to "Delete", { :action => "destroy", :id => @spectrum.id },
          :confirm => "Are you sure?", :method => :delete %><% end %>
  </p>
<% end %>
<% end %>

<%= link_to 'Show', @spectrum %> |
<%= link_to 'Back', spectrums_path %>
