<script language="javascript" type="text/javascript" src="/javascripts/flot/jquery.js"></script> 
<script language="javascript" type="text/javascript" src="/javascripts/flot/jquery.flot.js"></script> 
<script language="javascript" type="text/javascript" src="/javascripts/application.js"></script> 

<img width="500px" src="<%= @spectrum.photo.url(:large) %>" />
<div id="graph" style="width:500px;height:140px;"></div>
<script type="text/javascript">
  <% if @spectrum.data == "" || @spectrum.data.nil? %>
    spectrum = <%= @spectrum.extract_data %>
  <% else %>
    spectrum = <%= @spectrum.data.chomp(",") %>
  <% end %>
    data = [{label: "<%= @spectrum.title %> = 0% ",data:[]}]
    scaled = true
    $.each(spectrum.lines,function(index,line) {
      if (line.wavelength == null) {
	line.wavelength = index
	scaled = false
      }
      data[0].data.push([line.wavelength,line.average/(2.55)])
    })
    flotoptions.xaxis.show = scaled
    plot = $.plot($("#graph"),data,flotoptions);
</script>

<b><a href="http://spectralworkbench.org/spectra/show/<%= @spectrum.id %>"><%= @spectrum.title %></a></b>
<span style="text-align:right;">by <a href="http://spectralworkbench.org/author/"><%= @spectrum.author %></a></span>
<span style="text-align:right;">on <a href="http://spectralworkbench.org">SpectralWorkbench.org</a></span>
<style>
html {
	font-family: lucida grande, lucida console, arial, sans-serif;
	font-size:11px;
}
body {
	margin:0;
}
b {
	padding:3px;
	font-size:13px;
}
#graph {
	margin-top:8px;
}
</style>
