<script language="javascript" type="text/javascript" src="/javascripts/flot/jquery.flot.js"></script> 
<script language="javascript" type="text/javascript" src="/javascripts/flot/jquery.flot.crosshair.js"></script>

<div class="container-fluid" style="clear:both;">
  
  <div class="row-fluid">
    <iframe class="span4" height="240px;" src="http://www.youtube.com/embed/idg10MiceEI" frameborder="0" allowfullscreen></iframe>
    <div class="span8">
      <div class="jumbotron">
        <h2>DIY material analysis</h2>
        <p class="lead">Use a homemade spectrometer to scan different materials, and contribute to an open source database.</p>
        <a class="btn btn-large btn-success" href="http://publiclaboratory.org/tool/spectrometer"><i class="icon icon-wrench icon-white"></i> Build one</a>
        <a class="btn btn-large btn-primary" href="http://shop.breadpig.com/products/desktop-spectrometry-kit"><i class="icon icon-shopping-cart icon-white"></i> Preorder<span class="hidden-phone"> one </span> &raquo;</a>
        <a class="btn btn-large" href="http://publiclaboratory.org/tool/spectrometer"><i class="icon icon-book"></i> Learn<span class="hidden-phone"> more</span></a>
      </div>
    </div>
  </div>

  <hr />

  <div id="spectra" class="row-fluid">

  <div class="span4 pull-right" style="padding-left:20px;">

    <form action="/spectra/search" method='get' class="form">
      <input class='text' type='text' name='q' value='<%= params[:id] %>'/>
      <input type='submit' value='search' />
    </form>

    <h3>Recent authors</h3>
    <ul class="nav">
    <% User.find_all_by_login(@spectrums.collect(&:author).uniq).each do |user| %>
      <li><a href="/profile/<%= user.login %>"><i class="icon icon-user"></i> <%= user.login %></a></li>
    <% end %>
    </ul>

    <hr />
    <h3>Recent sets</h3>
    <%= render :partial => 'sets' %>

  </div>

  <style>.row { clear:left;} </style>

  <h2>Recently uploaded spectra <small class="hidden-phone">by contributors like you</small></h2>

  <div class="span8">
  <div class="row">
  <% @spectrums.each_with_index do |spectrum,i| %>
    <div class="span3 clearfix">
      <a class="image" href="/spectra/show/<%= spectrum.id %>"><img src="<%= spectrum.photo.url(:thumb) %>" class="image" style="background:#ccc;"></a>
      <h4><a data-transition="slide" href="/spectra/show/<%= spectrum.id %>"><%=h truncate(spectrum.title,:length => 18) %></a></h4>
      <p><a data-transition="slide" href="/profile/<%=h spectrum.author %>"><%=h spectrum.author %></a> | <%= time_ago_in_words(spectrum.created_at) %> ago</p>
    </div>
    <% if ((i+1)/4.0).to_i == ((i+1)/4.0) %>
    </div>
    <hr />
    <div class="row">
    <% end %>
  <% end %>
  </div>
  </div>

</div>
<script type="text/javascript">

(function () { 



})()

</script>

