<script language="javascript" type="text/javascript" src="/javascripts/flot/jquery.flot.js"></script> 
<script language="javascript" type="text/javascript" src="/javascripts/flot/jquery.flot.crosshair.js"></script>
<script src="/javascripts/analyze.js"> </script>

<div class="container-fluid" style="clear:both;">
  
  <div class="row-fluid">
    <iframe class="span4" height="240px;" src="http://www.youtube.com/embed/idg10MiceEI" frameborder="0" allowfullscreen></iframe>
    <div class="span8">
      <div class="jumbotron">
        <h2>DIY material analysis</h2>
        <p class="lead">Use a homemade spectrometer to scan different materials, and contribute to an open source database.</p>
        <a class="btn btn-large btn-success" href="http://publiclab.org/tool/spectrometer"><i class="icon icon-wrench icon-white hidden-phone"></i> Build one</a>
        <a class="btn btn-large btn-primary" href="http://store.publiclab.org/products/desktop-spectrometry-kit"><i class="icon icon-shopping-cart icon-white"></i> Buy <span class="hidden-phone"> a kit </span></a>
        <a class="btn btn-large" href="http://publiclab.org/tool/spectrometer"><i class="icon icon-book hidden-phone"></i> Learn<span class="hidden-phone"> more</span></a>
      </div>
    </div>
  </div>

  <hr />

  <div id="spectra" class="row-fluid">

  <div class="span4">

    <%= render :partial => "search" %>

    <h3>Recent authors</h3>
    <ul class="nav">
    <% User.find_all_by_login(@spectrums.collect(&:author).uniq).each do |user| %>
      <li><a href="/profile/<%= user.login %>"><i class="icon icon-user"></i> <%= user.login %></a></li>
    <% end %>
    </ul>

    <hr />
    <h3>Recent sets</h3>
    <%= render :partial => 'sets' %>

    <hr />
  </div>

  <style>._row { clear:left;} </style>

  <div class="span8">

    <h3>Featured tags <small>Interesting things to scan and share (<a href="http://publiclab.org/wiki/spectrometry-activities">Learn more</a>)</small></h3>

    <div class="row-fluid">

      <div class="span3">
        <a class="image hidden-phone" href="/tag/sky"><img src="/system/photos/913/thumb/capture.png" class="image" style="background:#ccc;"></a>
        <a class="image visible-phone" style="float:left;width:50%;margin-right:10px;" href="/tag/sky"><img src="/system/photos/913/thumb/capture.png" class="image" style="background:#ccc;"></a>
        <h3><a href="/tag/sky">Sky</a></h3>
      </div>

      <div class="span3">
        <a class="image hidden-phone" href="/tag/led"><img src="/system/photos/11898/thumb/capture.png" class="image" style="background:#ccc;"></a>
        <a class="image visible-phone" style="float:left;width:50%;margin-right:10px;" href="/tag/led"><img src="/system/photos/11898/thumb/capture.png" class="image" style="background:#ccc;"></a>
        <h3><a href="/tag/led">LED</a></h3>
      </div>

      <div class="span3">
        <a class="image hidden-phone" href="/tag/sodium"><img src="/system/photos/8559/thumb/capture.png" class="image" style="background:#ccc;"></a>
        <a class="image visible-phone" style="float:left;width:50%;margin-right:10px;" href="/tag/sodium"><img src="/system/photos/8559/thumb/capture.png" class="image" style="background:#ccc;"></a>
        <h3><a href="/tag/sodium">Sodium</a></h3>
      </div>

      <div class="span3">
        <a class="image hidden-phone" href="/tag/laser"><img src="/system/photos/8198/thumb/capture.png" class="image" style="background:#ccc;"></a>
        <a class="image visible-phone" style="float:left;width:50%;margin-right:10px;" href="/tag/laser"><img src="/system/photos/8198/thumb/capture.png" class="image" style="background:#ccc;"></a>
        <h3><a href="/tag/laser">Laser</a></h3>
      </div>

    </div>

    <hr />

    <h2>Recently uploaded spectra <small class="hidden-phone">by contributors like you</small></h2>

    <%= render :partial => 'spectrums/list_bootstrap' %>
    <%= will_paginate @spectrums %>
  </div>

</div>

