<h1>New spectrum</h1>

<p>By uploading your data, you agree to release it under the <a href="http://creativecommons.org/publicdomain/zero/1.0/">Creative Commons Zero license</a></p>

<% form_for(@spectrum,:html => { :multipart => true }) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :author %><br />
    <%= f.text_field :author %>
  </p>
  <p>
    <%= f.label :notes %><br />
    <%= f.text_area :notes %>
  </p>
  <p>
    <%= f.label 'Photo of spectrum' %><br />
    <%= f.file_field :photo %>
  </p>

  <p>
    <%= recaptcha_tags %>
  </p>

  <p>
    <%= f.label 'Photo of baseline spectrum without sample (if applicable)' %><br />
    <%= f.file_field :baseline %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', spectrums_path %>
