<div id="spectra" class="container">

<% if params[:action] == "search" %>
<h2>Search for "<%= params[:id] %>"</h2>
<% else %>
<h2>Spectra for <%= params[:id] %> 
<% if User.find_by_login(params[:id]) %>
  (<%= User.find_by_login(params[:id]).spectra.length %>)
<% end %>
</h2>
<% end %>

<div class="row-fluid">
  <div class="span4 pull-right">
    <%= render :partial => 'search' %>
  </div>

  <div class="span8">
    <%= render :partial => 'list_bootstrap' %>
  </div>
</div>
</div>
