<script src="/javascripts/show.js"> </script>

<div class="sidebar spectrumpage">
<a href="/analyze/spectrum/<%= @spectrum.id %>" style="display:block;" class="button">Analyze &raquo;</a>
<br />

<div class="box">
  <h3>// SETS WITH THIS SPECTRUM</h3>
  <% @spectrum.sets.each do |set| %>
  <p><a href="/sets/show/<%= set.id %>"><%= set.title %></a></p>
  <% end %>
</div>
<div id="compare" class="box">
  <h3>// COMPARE SPECTRA</h3>
  <p>
    <form id="compareForm" action="javascript:void(0);">
    <input class='text' id='searchinput' type='text' name='q' value=''/>
    <input type='submit' id='searchsubmit' value='search' />
    </form>
    <script>

	var spectra = [<%= @spectrum.id %>]

    </script>
  </p>
  <div id="result">
    <b>Recent spectra:</b><br />
    <%= render :partial => "compare" %>
  </div>
</div>
</div>

<div id="show">
<div id="notify"></div>
<a href="<%= @spectrum.photo.url(:original) %>"><img id="image" src="<%= @spectrum.photo.url(:large) %>" /></a>
<div id="graph" style="width:830px;height:200px;"></div>

<div id="toolbar">
	<p>
	<b><span id="wavelength"></span> <span id="#unit_label">nm</span></b> | 
	<small>Embed code: <input style="font-size:11px" id="embedcode" type="text" value="<iframe width='500px' height='400px' border='0' src='http://spectralworkbench.org/spectra/embed/<%= @spectrum.id %>'></iframe>" /></small>
	<a id="embed" class="smallbutton" href="javascript:void(0);">Custom embed</a>
	<a id="units" class="smallbutton" href="javascript:void(0);">Toggle units</a>
	<a id="add" class="smallbutton" href="javascript:void(0);" onClick="window.location = '/sets/add/'+prompt('Add to which set? (enter an id)')+'?spectrum_id=<%= @spectrum.id %>'">Add to set</a>
	<a id="rgb" class="smallbutton" href="javascript:void(0);" onClick="$W.toggle_mode()">Toggle RGB</a>
	<% if logged_in? %>
		<a id="createSet" class="smallbutton" style="display:none;" href="javascript:void(0);">Save as set +</a>
		<% if current_user.id == @spectrum.user_id %>
			<a id="extract" class="smallbutton" href="javascript:void(0);">Re-extract from photo</a>
			<a id="clone" class="smallbutton" href="javascript:void(0);">Clone calibration</a>
			<a id="calibrate" class="smallbutton" href="javascript:void(0);">Calibrate</a>
			<a id="samplerow" class="smallbutton" href="javascript:void(0);" onClick="window.location = '/spectrums/setsamplerow/<%= @spectrum.id %>?row='+prompt('Enter the pixel row you would like to extract a spectrum from, where row 0 is the top edge of the original image.','100')">Set sample row</a>
		<% end %>
	<% end %>
	<span id="toolbar_notification"></span>
	</p>
</div>

</p>

<h1><%= @spectrum.title %></h1>

<h3>// TAGS</h3>

<p>
<% if @spectrum.tags %>
<% @spectrum.tags.each_with_index do |tag,i| %>
	<a href="/tag/<%= tag.name %>"><%= tag.name %></a><%= "," unless i == @spectrum.tags.length-1 %>
<% end %>
<% end %>
</p>
<% if logged_in? %>
<p>
<form id="tag" action="/tag/create">
	<input type="text" name="tag[name]" />
	<input type="hidden" name="tag[spectrum_id]" value="<%= @spectrum.id %>" />
	<input type="submit" value="Tag" />
</form>
</p>
<% end %>

<h3>// DETAILS</h3>

	<% if @spectrum.author == "anonymous" %><a href="/spectra/edit/<%= @spectrum.id %>">Claim this spectrum</a><% end %>
<% if logged_in? && current_user.login == @spectrum.author %>
	<p>
	<%= link_to 'Edit', edit_spectrum_path(@spectrum) %> |
	<%= link_to 'Delete', "/spectrums/destroy/"+@spectrum.id.to_s, :confirm => 'Are you sure?' %>
	</p>
<% end %>

<p>
uploaded by <a href="/profile/<%= @spectrum.author %>"><%= @spectrum.author %></a> (<a href="/spectra/feed/<%= @spectrum.author %>">RSS</a>).</p>
<% if @spectrum.lat != 0 && @spectrum.lon != 0 %><p>Collected at: Lat: <%= @spectrum.lat %>, Lon: <%= @spectrum.lon %> (<a href="http://www.openstreetmap.org/?lat=<%= @spectrum.lat %>&lon=<%= @spectrum.lon %>&zoom=10&layers=M">View in OpenStreetMap</a>)</p><% end %>
<p>
<a href="<%= @spectrum.id %>.json">JSON</a> | 
<a href="<%= @spectrum.id %>.csv">CSV</a> | 
<a href="<%= @spectrum.id %>.xml">XML</a> | <a href="http://publiclaboratory.org/wiki/spectral-workbench-exporting">About export formats</a> 
</p>

<div id="share">
	<div class="fb-like" data-send="false" data-layout="button_count" data-width="50" data-show-faces="false" style="vertical-align:top;zoom:1;*display:inline"></div>
	<a href="https://twitter.com/share" class="twitter-share-button">Tweet</a>
	<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</div>

<h3>// NOTES</h3>
<p class="description"><%= markdown(@spectrum.notes) if @spectrum.notes %></p>
<% if @spectrum.notes == "" %><p class="description"><i>None</i></p><% end %>

<h3>// LICENSE</h3>

<p xmlns:dct="http://purl.org/dc/terms/" xmlns:vcard="http://www.w3.org/2001/vcard-rdf/3.0#">
  <a style="float:left;margin-right:6px;display:block;" rel="license" href="http://creativecommons.org/publicdomain/zero/1.0/"><img src="http://i.creativecommons.org/p/zero/1.0/88x31.png" style="border-style: none;" alt="CC0" /></a>
  To the extent possible under law,
  <%# if @spectrum.author.url %><a rel="dct:publisher" href="http://publiclaboratory.org"><%# end %>
    <span property="dct:title"><%= @spectrum.author %></span><%# if @spectrum.author.url %></a><%# end %>
  has waived all copyright and related or neighboring rights to
  "<span property="dct:title"><%= @spectrum.title %></span>".
This work is published from:
<span property="vcard:Country" datatype="dct:ISO3166"
      content="US" about="http://publiclaboratory.org">
  United States</span>.
</p>

<hr />

<a name="comments"></a>
<h2>Comments (<%= @spectrum.comments.length %>)</h2>

<% @spectrum.comments.each do |comment| %>
<div class="comment">
	<a name="comment_<%= comment.id %>"></a>
	<b><%= time_ago_in_words(comment.created_at) %> ago, 
	<% if User.find_by_login(comment.author) %><a href="/spectra/author/<%= comment.author %>"><%= comment.author %></a> wrote:</b>
	<% else %><%=h comment.author %> wrote:</b>
	<% end %>
	<p><%=h comment.body %></p>
	<% if logged_in? && current_user.role == "admin" %><p><a href="/comments/delete/<%= comment.id %>">Delete</a></p><% end %>
</div>
<% end %>

<% if @jump_to_comment %>
<script>
  window.location.hash = "comments"
</script>
<% end %>

<% form_for(@comment, :url => {:controller => "spectrums", :action => "comment", :id => @spectrum.id}) do |f| %>

  <h2>Post a comment</h2>
  <%= f.error_messages %>

  <p>
    <%= f.label :body %><br />
    <%= f.text_area :body, :rows => 6 %>
  </p>

  <% if !logged_in? %>
  <p>
    <%= f.label :author %><br />
    <%= f.text_field :author %>
  </p>
  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </p>
  <% end %>

  <% if !logged_in? && !APP_CONFIG["local"] %>
  <p>
    <%= recaptcha_tags :display => {:theme => "white"} %>
  </p>
  <% end %>

  <input type='hidden' name='id' value='<%= @spectrum.id %>' />

  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>
</div>

<a href="http://printer.gofreerange.com/print/6p6w1b3y7r8f2n5y?url=http://spectralworkbench.org/spectra/print/<%= @spectrum.id %>">Print to receipt printer</a>

<script type="text/javascript">

(function () { 

	$W.initialize({
		spectrum_id:<%= @spectrum.id %>,
		title: "<%= @spectrum.title.gsub('"',"'") %>",
		form_authenticity_token: "<%= form_authenticity_token %>",
		spectrum_data: <%= @spectrum.data.gsub('"',"'") %>
	})

})()

</script>

