<script src="/javascripts/show.js"> </script>

<div data-role="page" id="page1">

	<div data-theme="d" data-role="header">
		<a data-role="button" data-transition="fade" data-theme="c" href="/capture">&laquo; Back to capture</a>
		<h3><%= @spectrum.title %></h3>
	</div>

	<div data-role="content" style="padding: 15px">
		<div id="graph" style="width:100%;height:100px;"></div>
		<br />
		<img id="image" style="width:100%" src="<%= @spectrum.photo.url(:large) %>" />

<script> 

spectrum = <%= @spectrum.data.gsub('"',"'") %>
spectrum_id = <%= @spectrum.id %>
data = [{label: "<%= @spectrum.title.gsub('"',"'") %> = 0% ",data:[]}];

(function () { 

	scaled = true
	$.each(spectrum.lines,function(index,line) {
		if (line.wavelength == null) {
			line.wavelength = index
			scaled = false
		}
		data[0].data.push([line.wavelength,line.average/(2.55)])
	})
	init_hovers();
	flotoptions.xaxis.show = scaled
	setInterval(function() {plot = $.plot($("#graph"),data,flotoptions);},500)

})() </script>


<h3>DETAILS</h3>

<p>
uploaded by <a href="/profile/<%= @spectrum.author %>"><%= @spectrum.author %></a> (<a href="/spectra/feed/<%= @spectrum.author %>">RSS</a>)</p>
<p>
<a href="<%= @spectrum.id %>.json">JSON</a> | 
<a href="<%= @spectrum.id %>.xml">XML</a>
</p>

<h3>NOTES</h3>
<p class="description"><%= markdown(@spectrum.notes) if @spectrum.notes %></p>
<% if @spectrum.notes == "" %><p class="description"><i>None</i></p><% end %>

<h3>LICENSE</h3>

<p xmlns:dct="http://purl.org/dc/terms/" xmlns:vcard="http://www.w3.org/2001/vcard-rdf/3.0#">
  <a style="float:left;margin-right:6px;display:block;" rel="license" href="http://creativecommons.org/publicdomain/zero/1.0/"><img src="http://i.creativecommons.org/p/zero/1.0/88x31.png" style="border-style: none;" alt="CC0" /></a>
  To the extent possible under law,
  <%# if @spectrum.author.url %><a rel="dct:publisher" href="http://publiclaboratory.org"><%# end %>
    <span property="dct:title"><%= @spectrum.author %></span><%# if @spectrum.author.url %></a><%# end %>
  has waived all copyright and related or neighboring rights to
  "<span property="dct:title"><%= @spectrum.title %></span>".
This work is published from:
<span property="vcard:Country" datatype="dct:ISO3166"
      content="US" about="http://publiclaboratory.org">
  United States</span>.
</p>

<hr />

<a name="comments"></a>
<h2>Comments (<%= @spectrum.comments.length %>)</h2>

<% @spectrum.comments.each do |comment| %>
<div class="comment">
	<a name="comment_<%= comment.id %>"></a>
	<b><%= time_ago_in_words(comment.created_at) %> ago, 
	<% if User.find_by_login(comment.author) %><a href="/spectra/author/<%= comment.author %>"><%= comment.author %></a> wrote:</b>
	<% else %><%=h comment.author %> wrote:</b>
	<% end %>
	<p><%=h comment.body %></p>
	<% if logged_in? && current_user.role == "admin" %><p><a href="/comments/delete/<%= comment.id %>">Delete</a></p><% end %>
</div>
<% end %>

<% if @jump_to_comment %>
<script>
  window.location.hash = "comments"
</script>
<% end %>

	</div>
</div>

<div data-role="page" id="page2">
  <h3>// SETS WITH THIS SPECTRUM</h3>
  <% @spectrum.sets.each do |set| %>
  <p><a href="/sets/show/<%= set.id %>"><%= set.title %></a></p>
  <% end %>
</div>
