<div class="sidebar spectrumpage">
<div class="box">
  <h3>Compare to other spectra</h3>
  <p>
    <input class='text' id='searchinput' type='text' name='q' value=''/>
    <input type='submit' id='searchsubmit' value='search' />
    <script>

        $.ajaxSetup ({ cache: false }); 

	var ajax_load = "<img src='images/load.gif' alt='loading...' />";

	var loadUrl = "/spectrums/compare/"+<%= @spectrum.id %>+".json";
	$("#searchsubmit").click(function(){
		$("#result")
		.html(ajax_load)
		.load(loadUrl,
			{q:$("#searchinput").val()}, 
			function(responseText){
			
		});
	});
	// this doesn't work:
	$('#searchinput').click($('#searchsubmit').click)

    </script>
  </p>
  <p id="result">
  </p>
</div>
</div>

<p>
<img src="<%= @spectrum.photo.url(:large) %>" />
<div id="graph" style="width:800px;height:200px;"></div>
<script type="text/javascript">
  <% if @spectrum.data == "" %>
    spectrum = <%= @spectrum.extract_data %>
  <% else %>
    spectrum = <%= @spectrum.data.chomp(",") %>
  <% end %>
    data = []
    scaled = true
    $.each(spectrum.lines,function(index,line) {
      if (line.wavelength == null) {
	line.wavelength = index
	scaled = false
      }
      data.push([line.wavelength,line.average])
    })
    $.plot($("#graph"), [{data:data}],
	{
	    series: {
              lines: { 
		show: true, 
		lineWidth: 1,
	      },
	    },
	    yaxis: { show: false },
	    xaxis: { show: scaled },
	    shadowSize: 0,
	    grid: {
              backgroundColor: "#eee"
            },
	    colors: [ "#333333", "#777777" ]
        }
   );
</script>
</p>

<h1><%= @spectrum.title %></h1>

<h3>Notes</h3>
<p class="description"><%= markdown(@spectrum.notes) %></p>

<h3>License</h3>

<p xmlns:dct="http://purl.org/dc/terms/" xmlns:vcard="http://www.w3.org/2001/vcard-rdf/3.0#">
  <a rel="license" href="http://creativecommons.org/publicdomain/zero/1.0/"><img src="http://i.creativecommons.org/p/zero/1.0/88x31.png" style="border-style: none;" alt="CC0" /></a>
  <br />
  To the extent possible under law,
  <%# if @spectrum.author.url %><a rel="dct:publisher" href="http://publiclaboratory.org"><%# end %>
    <span property="dct:title"><%= @spectrum.author %></span>
  <%# if @spectrum.author.url %></a><%# end %>
  has waived all copyright and related or neighboring rights to
  "<span property="dct:title"><%= @spectrum.title %></span>".
This work is published from:
<span property="vcard:Country" datatype="dct:ISO3166"
      content="US" about="http://publiclaboratory.org">
  United States</span>.
</p>

<hr />

<a name="comments"></a>
<h2>Comments</h2>

<% @spectrum.comments.each do |comment| %>
<div class="comment">
	<b><%= time_ago_in_words(comment.created_at) %> ago, <%= comment.author %> wrote:</b>
	<p><%= comment.body %></p>
</div>
<% end %>

<% form_for(@comment) do |f| %>

  <h2>Post a comment</h2>
  <%= f.error_messages %>

  <p>
    <%= f.label :body %><br />
    <%= f.text_area :body, :rows => 6 %>
  </p>

  <p>
    <%= f.label :author %><br />
    <%= f.text_field :author %>
  </p>
  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= recaptcha_tags :display => {:theme => "white"} %>
  </p>

  <input type='hidden' name='id' value='<%= @spectrum.id %>' />

  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<h2>Related spectra</h2>

<p>coming soon...</p>


