<div class="sidebar spectrumpage">
<div id="compare" class="box">
  <h3>// Compare to other spectra</h3>
  <p><small>Currently, comparisons are only valid between spectra from one spectrometer. Once we add wavelength calibration tools, you'll be able to compare to other peoples' data... <a href="http://github.com/jywarren/spectral-workbench/issues/36">coming soon!</a></small></p>
  <p>
    <form id="compareForm" action="javascript:void(0);">
    <input class='text' id='searchinput' type='text' name='q' value=''/>
    <input type='submit' id='searchsubmit' value='search' />
    </form>
    <script>

	var spectra = [<%= @spectrum.id %>]
        $.ajaxSetup ({ cache: false }); 

	var ajax_load = "<img src='/images/spinner-small.gif' alt='loading...' />";

	$("#compareForm").submit(function(){
		var url = "/spectrums/compare/<%= @spectrum.id %>?q="+$("#searchinput").val();
		$("#result").html(ajax_load).load(url);
	});

	$("#createSet").click(function() {
		window.location.href = "/sets/new?spectra_string="+spectra.join(",")
	})

    </script>
  </p>
  <div id="result">
    <b>Recent spectra:</b><br />
    <%= render :partial => "compare" %>
  </div>
</div>
</div>

<div id="show">
<p>
<img id="image" src="<%= @spectrum.photo.url(:large) %>" />
<div id="graph" style="width:827px;height:200px;"></div>

<script type="text/javascript">
  <% if @spectrum.data == "" || @spectrum.data.nil? %>
    spectrum = <%= @spectrum.extract_data %>
  <% else %>
    spectrum = <%= @spectrum.scale_data(400,700).chomp(",") %>
  <% end %>
    data = [{label: "<%= @spectrum.title %> = 0% ",data:[]}]
    scaled = true
    $.each(spectrum.lines,function(index,line) {
      if (line.wavelength == null) {
	line.wavelength = index
	scaled = false
      }
      data[0].data.push([line.wavelength,line.average/(2.55)])
    })
    options = {
      series: {
        lines: { 
          show: true, 
          lineWidth: 1,
        },
      },
      crosshair: { mode: "x" },
      yaxis: { show: true, min: 0, max: 100 },
      xaxis: { show: scaled },
      shadowSize: 0,
      grid: {
	hoverable:true,
	borderWidth: 0,
        backgroundColor: "#eee"
      },
      // Palette "i eat the rainbow" by svartedauden on Colourlovers: http://www.colourlovers.com/palette/1630898/i_eat_the_rainbow, CC-BY-NC
      colors: [ "#333333", "#E02130", "#FAB243", "#429867", "#2B5166" ]//, "#482344" ]
    }
    plot = $.plot($("#graph"),data,options);
    init_hovers();

    var legends;
    var updateLegendTimeout = null;
    var latestPosition = null;
    
    function updateLegend() {
        updateLegendTimeout = null;
        
        var pos = latestPosition;
        
        var axes = plot.getAxes();
        if (pos.x < axes.xaxis.min || pos.x > axes.xaxis.max ||
            pos.y < axes.yaxis.min || pos.y > axes.yaxis.max)
            return;

        var i, j, dataset = plot.getData();
        for (i = 0; i < dataset.length; ++i) {
            var series = dataset[i];

            // find the nearest points, x-wise
            for (j = 0; j < series.data.length; ++j)
                if (series.data[j][0] > pos.x)
                    break;
            
            // now interpolate
            var y, p1 = series.data[j - 1], p2 = series.data[j];
            if (p1 == null)
                y = p2[1];
            else if (p2 == null)
                y = p1[1];
            else
                y = p1[1] + (p2[1] - p1[1]) * (pos.x - p1[0]) / (p2[0] - p1[0]);

            legends.eq(i).html(series.label.replace(/=.*%/, "= " + parseInt(y) + "%"));
        }
    }
    
    function init_hovers() {
      $("#graph").bind("plothover",  function (event, pos, item) {
        latestPosition = pos;
        if (!updateLegendTimeout)
            updateLegendTimeout = setTimeout(updateLegend, 50);
      });
      legends = $("#graph .legendLabel");
      legends.each(function () {
        // fix the widths so they don't jump around
        $(this).css('width', $(this).width()+10);
      });

    }

</script>

<div id="toolbar">
	<a id="createSet" class="smallbutton" style="display:none;" href="javascript:void(0);">Save as set [+]</a>
	<!--<a id="calibrate" class="smallbutton" href="javascript:void(0);">Calibrate</a>-->
</div>

<script>

	$('#createSet').click(function() {
		window.location.href = "/sets/new/"+spectra.join(',')
	})
	$('#calibrate').click(function() {
		
	})

</script>

</p>

<h1><%= @spectrum.title %></h1>

<h3>// NOTES</h3>
<p class="description"><%= markdown(@spectrum.notes) if @spectrum.notes %></p>
<% if @spectrum.notes == "" %><p class="description"><i>None</i></p><% end %>

<h3>// SHARE</h3>

<p style="margin-top:0px;">Embed code: <input id="embedcode" type="text" value="<iframe width='500px' height='400px' border='0' src='http://spectralworkbench.org/spectra/embed/<%= @spectrum.id %>'></iframe>" /></p>

<script>
$('#embedcode').click(function() {
	this.focus()
	this.select()
})
</script>

<h3>// LICENSE</h3>

<p xmlns:dct="http://purl.org/dc/terms/" xmlns:vcard="http://www.w3.org/2001/vcard-rdf/3.0#">
  <a style="float:left;margin-right:6px;display:block;" rel="license" href="http://creativecommons.org/publicdomain/zero/1.0/"><img src="http://i.creativecommons.org/p/zero/1.0/88x31.png" style="border-style: none;" alt="CC0" /></a>
  To the extent possible under law,
  <%# if @spectrum.author.url %><a rel="dct:publisher" href="http://publiclaboratory.org"><%# end %>
    <span property="dct:title"><%= @spectrum.author %></span><%# if @spectrum.author.url %></a><%# end %>
  has waived all copyright and related or neighboring rights to
  "<span property="dct:title"><%= @spectrum.title %></span>".
This work is published from:
<span property="vcard:Country" datatype="dct:ISO3166"
      content="US" about="http://publiclaboratory.org">
  United States</span>.
</p>

<hr />

<a name="comments"></a>
<h2>Comments (<%= @spectrum.comments.length %>)</h2>

<% @spectrum.comments.each do |comment| %>
<div class="comment">
	<b><%= time_ago_in_words(comment.created_at) %> ago, <%= comment.author %> wrote:</b>
	<p><%= comment.body %></p>
	<% if !params[:password].nil? && params[:password].to_i == APP_CONFIG["password"] %><p><a href="/comments/delete/<%= comment.id %>?password=<%= APP_CONFIG["password"] %>">Delete</a></p><% end %>
</div>
<% end %>

<% if @jump_to_comment %>
<script>
  window.location.hash = "comments"
</script>
<% end %>

<% form_for(@comment, :url => {:controller => "spectrums", :action => "comment", :id => @spectrum.id}) do |f| %>

  <h2>Post a comment</h2>
  <%= f.error_messages %>

  <p>
    <%= f.label :body %><br />
    <%= f.text_area :body, :rows => 6 %>
  </p>

  <p>
    <%= f.label :author %><br />
    <%= f.text_field :author %>
  </p>
  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= recaptcha_tags :display => {:theme => "white"} %>
  </p>

  <input type='hidden' name='id' value='<%= @spectrum.id %>' />

  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>
</div>
