<script src="https://cdn.temasys.io/adapterjs/0.15.x/adapter.min.js"></script>

<%= javascript_include_tag "new-capture" %>

  <link rel="apple-touch-icon" href="//spectralworkbench.org/images/spectral-workbench-256.png">
  <link rel="apple-touch-fa-precomposed" href="//spectralworkbench.org/images/spectral-workbench-256.png">
  <link rel="apple-touch-fa-precomposed apple-touch-icon" href="//spectralworkbench.org/images/spectral-workbench-256.png">
  <link rel="shortcut icon" href="//spectralworkbench.org/images/spectral-workbench-256.png" />

<%= stylesheet_link_tag "new-capture" %>

<% unless logged_in? %>
<div class="modal fade" id="login-prompt-modal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel" style="text-align: center">Log in for full functionality</h4>
      </div>
      <div class="modal-body">
        <p>You can use this with some limitations without logging in, but once you set up an account, you'll be able to:</p>
        <ul>
          <li>Save and share data</li>
          <li>Calibrate and process your data</li>
          <li>Use this interface offline - <a href="http://publiclab.org/wiki/spectral-workbench-usage#Offline">without an internet connection</a></li>
          <li>Contribute to a growing open source database</li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" onClick="$('#login-prompt-modal').modal('hide');$('#loginmodal').modal('show');">Log in</button>
        <button type="button" class="btn btn-default" data-dismiss="modal" onClick="$('#login-prompt-modal').modal('hide');">No thanks</button>
      </div>
    </div>
  </div>
</div>
<% end %>

<nav class="navbar navbar-inverse capture-navbar">
  <div class="navbar-inner">
  <a class="brand" href="/"><img style="padding:-2px;width:20px;" src="/images/logo.png" /></a>
    <div class="pull-right">
      <% unless logged_in? %><a onClick="$('#loginmodal').modal('show');" class="btn">Log in</a><% end %>
      <a class="btn btn-inverse" href="http://publiclab.org/spectral-workbench"><i class="fa fa-white fa-question-circle"></i></a>
    </div>
    <% if logged_in? %><p id="login-status">(logged in as <%=h current_user.login %>)<p><% end %>
    <p class="capture-messages" style="float:left;"></p>
  </div>
</nav> 


<body class="full-strecth-block">
  
    <div class="full-strecth-block bs-stepper">
  
      <div id="testnav" class="bs-stepper-header" role="tablist" style="z-index:100;">
        <%# <!-- your steps here --> %>
        <div class="step" data-target="#landing-page">
          <button type="button" class="step-trigger" role="tab" aria-controls="landing-page" id="homebtn" onclick="homePage()">
            <span class="bs-stepper-label">Home Page</span>
            <script>
            function homePage() {
                if ($("#landing-page-content").hide()) {
                    $('html').css('background', '#ffffff');
                    $("#landing-page-content").show();

                    $("div#capture-page-content").hide();
                    $("div#capture-settings").hide();
                    $("div#save-page").hide();

                }
            }
            </script>
          </button>
        </div>
        <div class="line"></div>
        <div class="step" data-target="#settings">
          <button type="button" class="step-trigger" role="tab" aria-controls="setting" id="settingsbtn" onclick="settingsPage()">
            <span class="bs-stepper-label">Settings</span>
            <script>
            function settingsPage() {
                $('html').css('background', '#272727');

                $("#heightIndicator").removeClass("capture-settings-hide");
                $("#heightIndicator").show();
                $("#webcam").css('pointer-events', '');
                $("#webcam").css('opacity', '1');

                $("#capture-page-content").css('height','100vh');
                $("#capture-page-content").css('width','auto');

                if (($(window).width() < 391 && $(window).height() < 645) || ((window.matchMedia("(orientation: landscape)").matches) && ($(window).height() < 645)))
                $("#capture-page-content").css('height','auto');

                $("#spectrum-ex").show();
                $("#capture-option").show();

                $("#landing-page-content").hide();
                $("div#capture-page-content").show();
                $("div#capture-settings").hide();

                $("div#save-page").hide();

            }
            </script>
          </button>
        </div>
        <div class="line"></div>
        <div class="step" data-target="#capture">
          <button type="button" class="step-trigger" role="tab" aria-controls="capture" id="capturebtn" onclick="capturePage()">
            <span class="bs-stepper-label">Capture</span>
            <script>
            function capturePage() {
                $("html, .full-strecth-block").css('background', '#272727');
                $("#landing-page-content").hide();
                $("#capture-option").addClass("capture-settings-hide");
                $("#heightIndicator").addClass("capture-settings-hide");

                $("div#capture-page-content").show();
                $("div#capture-settings").show();

                $("#spectrum-ex").hide();
                $(".capture-settings-hide").hide();

                $("#capture-page-content").width(1).height(1);
                $("#webcam").css('pointer-events', 'none');
                $("#webcam").css('opacity', '0.0');
                $("div#save-page").hide();
            }
            </script>     
          </button>
        </div>
        <div class="line"></div>
        <div class="step" data-target="#save">
          <button type="button" class="step-trigger" role="tab" aria-controls="save" id="savebtn" onclick="savePage()">
            <span class="bs-stepper-label">Save</span>
            <script>
            function savePage() {
               $("html, .full-strecth-block").css('background', '#ffffff');
               $("#landing-page-content").hide();
               $("div#capture-page-content").hide();
               $("div#capture-settings").hide();
               $("div#save-page").show();
            }
            </script>
          </button>
        </div>
      </div>
  
  
    
<div id="landing-page-content">
    <h1> 
      <div style="padding-bottom:1rem">
        <img src="/images/logo.png">
      </div>
      Spectral WorkBench <div><small>by Public Lab</small></div>
    </h1>
      <br><br>
            <p>What is Spectral Workbench? SpectralWorkbench.org is a web based application to collect, 
              archive, share, and analyze spectral data, for Public Lab DIY spectrometers and other spectrometers. 
              With it, you can: connect your USB Desktop Spectrometry Kit. scan and save samples. Try out the 
              application with upload or capture image.
            </p>
            <br><br><br>
            <button class="demo-button next" id="landing-page-next">Capture Spectra</button>
            <br><br><br>
            <span>
              <a href="https://spectralworkbench.org/dashboard"><i class="fa fa-home"></i></a>
              <a href="https://github.com/publiclab/spectral-workbench.js"><i class="fa fa-github"></i></a>
              <a href="https://twitter.com/intent/follow?original_referer=https%3A%2F%2Fspectralworkbench.org%2Fdashboard&ref_src=twsrc%5Etfw&screen_name=SpectralWB&tw_p=followbutton"><i class="fa fa-twitter"></i></a>
              <a href="https://publiclab.org/wiki/spectral-workbench-help"><i class="fa fa-info-circle"></i></a>
            </span>
</div>


<div id="capture-page-content" class="full-strecth-flex-vertical center-content">
    <!-- <h3>Setup</h3> -->
  
            <div id="webcam-msg"><p><b>Requesting camera access... <br />(<a href="https://play.google.com/store/apps/details?id=org.mozilla.firefox">Firefox</a>, <a href="https://play.google.com/store/apps/details?id=com.opera.browser">Opera</a> or Chrome on Android, or <a href="https://itunes.apple.com/us/app/bowser/id560478358">Bowser</a> on iOS). Please click "Allow" when prompted, or try the <a href="/upload">Upload interface</a>.</b></p></div>
            <div id="webcam">
              <div id="heightIndicator" style="display:none;position:absolute;margin:0;z-index:999;border-right:0px solid #ff4;border-bottom:2px solid #ff4;height:1px;margin-top:120px;width:320px;font-weight:bold;">
                <div class="vertical"   style="margin-top:3px;padding:2px;background:black;float:right;display:none; color: #1AA7EC;">BLUE</div>
                <div class="horizontal" style="margin-top:3px;padding:2px;background:black;float:right;color: red;">RED</div>
                <div class="horizontal" style="margin-top:3px;padding:2px;background:black;float:left;color: #1AA7EC;">BLUE</div>
                <div class="vertical"   style="margin-top:3px;padding:2px;background:black;float:right;margin-top:200px;display:none;color: red;">RED</div>
              </div>
            </div>
  
            <div id="spectrum-ex" style="padding-bottom:0px;padding-top:0.5rem;">
              <div class="spectrum-example-vertical" style="display:none;">
                <p style="margin-top:4px;">Point your spectrometer at a light and click on the video above to choose a cross-section to sample. (<a href="http://publiclab.org/wiki/spectral-workbench-usage">Learn more &raquo;</a>)</p>
                <img src="/images/example-cfl-vertical.png" style="height:136px; padding-bottom:1rem" id="cfl-resp"/>
              </div>
              <div class="spectrum-example-horizontal">
                <p style="margin-top:4px;">Point your spectrometer at a light and click on the video above to choose a cross-section as shown below. (<a href="http://publiclab.org/wiki/spectral-workbench-usage">Learn more &raquo;</a>)</p>
                <img class="img-rot" width="480px" src="/images/calibration-example.png" />
              </div>
            </div>
  
            
            <div style="text-align:center;" id="capture-option" class="capture-settings-hide">
                <p style="padding-top:5px;">
                    <a rel="tooltip" title="Auto detect cross-section" class="btn btn-default" onclick="$W.auto_detect_sample_row()" data-original-title="Auto select sample row"><i class="fa fa-arrows-v" aria-hidden="true"></i><span class="responsive-hide"> Auto-select Sample Row</span></a>
                    <a rel="tooltip" title="Flip video horizontally" class="btn btn-default btn-flip" onClick="$W.flip_horizontal()"><i class="fa fa-arrows-h" aria-hidden="true"></i><span class="responsive-hide"> Flip image</span></a>
                    <a rel="tooltip" title="Rotate video 90 &deg;" class="btn btn-default btn-rotate" onClick="$W.toggle_rotation()"><i class="fa fa-rotate-right" aria-hidden="true"></i><span class="responsive-hide"> Rotate</span></a>
                </p>

                <p class="responsive-hide" style="padding-top:5px;">
                Help <a href="http://publiclab.org/wiki/spectral-workbench-usage#Webcam+selection">selecting a camera</a>
                </p>
  
                <button class="btn btn-large btn-primary" data-toggle="tab" id="setting-page-next">Begin capturing &raquo;</button>
            </div>

            <hr />

            <script>
              jQuery(document).ready(function() {
               $W.setSampleRowClickListener()  
               <% if ios? || (mobile? && !opera?) %> 
                 $W.toggle_rotation();
               <% end %>  
              })
            </script>
</div>


<div id="capture-settings" class="full-strecth-flex-horizontal center-content">
    <!-- <h3>Capturing Phase</h3> -->
          <div class="float-container">
            <div class="float-child-left responsive-hide">
              <div id="sidebar" style="width: 26em;">
                <div class="hidden-phone" >
                  <div id="heightIndicatorPrev" style="position:absolute;z-index:999;border-right:0px solid #ff4;border-bottom:2px solid #ff4;height:1px;margin: 50px 0 0;width:100%;"></div>
                  <canvas style="width:100%;height:273px;" id="preview"></canvas>
                </div>
                <div class="btn-group toolbar" data-toggle="buttons-checkbox" style="margin-bottom:2em; margin-left: 9em; margin-top: 2em; padding: 1rem">
                  <a rel="tooltip" title="Rotate video" class="btn btn-default btn-rotate" onClick="$W.toggle_rotation()"><i class="fa fa-repeat"></i></a>
                  <a rel="tooltip" title="Flip video horizontally" class="btn btn-default btn-flip" onClick="$W.flip_horizontal()"><i class="fa fa-arrows-h"></i></a>
                  <a rel="tooltip" title="Scale video" class="btn btn-default" onClick="$W.scale_h = parseFloat(prompt('Enter a horizontal scaling factor (default is 1):'))"><i class="fa fa-expand"></i></a>
                </div>
                <p style="padding: 1rem">Note: Use the tools above to make adjustment of the capturing. To adjust the sampling yellow bar location, go back to the previous step.</p>

                <div>
                <p><small>Using calibration:</small></p>
                <select name="spectrum[calibration_id]" class="select-calibration select-calibration-capture span2">
                  <%= render partial: 'capture/calibrations', locals: { calibrations: @calibrations, calibration: @calibration } %>
                </select>
                <a class="btn btn-inverse btn-switch-calibration-capture">Switch calibration</a>
                </div>

                <script>
                  jQuery(document).ready(function() {

                    $W.observe_contrast(
                            false,
                            function() {
                              $('#cfl-detect i').css('color','red');
                            },
                            function() {
                              $('#cfl-detect i').css('color','white');
                            })
                  })
                </script>
              </div>
            </div>

            <div class="float-child-right">
              <div id="responsive-graph">
                <div class="btn-group toolbar" data-toggle="buttons-radio">
                  <a rel="tooltip" title="Default mode" class="btn btn-default btn-sm" onClick="$W.toggle_mode()"><i class="fa fa-circle-o"></i></a>
                  <a rel="tooltip" title="RGB mode" class="btn btn-default btn-sm" onClick="$W.toggle_mode()"><i class="fa fa-adjust"></i></a>
                  <a rel="tooltip" title="Combined readout" class="btn btn-default btn-sm" onClick="$W.show_combined()"><i class="fa fa-list-ul"></i></a>
                </div>
                <div id="graph" style="width: 100%; margin-bottom:2em"></div>
                <canvas style="background:#333;width:100%;height:100px;width: 96%;margin-left: 1.8em;" id="canvas"></canvas>
                <p style="margin-left: 1.8em;margin-top:0rem;width: 96%;">This display shows the last few seconds of data, descending. The top, newest row of pixels is used by default to generate the graph. This can be changed later.</p>
              </div>
              
              <div id="test-save-hide">
                <button type="button" class="demo-button next" id="capture-page-next">Save Capture</button>
                <p style="margin-top: 0.5em;text-align: center;">Once you save the capture, you cannot go back here.</p>
              </div>
            </div>         
          </div>
</div> 

<div id="save-page" class="full-strecth-flex-vertical center-content">

<% if @calibration %>
  <p class="calibration-used">Using spectrum <%= @calibration.id %> "<a target="_blank" href="/spectrums/<%= @calibration.id %>"><%= @calibration.title %></a>" (captured <%= time_ago_in_words(@calibration.created_at) %> ago) as a calibration reference.</p>
  <p>If that's wrong, you can ignore this, and calibrate later with the correct reference. Or choose a new calibration:</p>
  <div>
  <form class="form-inline">
    <select name="spectrum[calibration_id]" class="select-calibration select-calibration-configure">
      <%= render partial: 'capture/calibrations', locals: { calibrations: @calibrations, calibration: @calibration } %>
    </select>
    <a class="btn btn-inverse btn-switch-calibration-configure">Switch calibration</a>
  </form>
  </div>
<% end %>


<%= render :partial => "save" %>

</div>

  
    <script>
      (function() {
  
        $W.initialize({
          calibrated: <%= !@calibration.nil? %>,
          interface:"capture",
          mode:"combined",
          flipped: <%= @calibration && @calibration.is_flipped || params[:flipped] == 'true' %>,
          <% if @calibration && @calibration.has_powertag('video_row') %>
            video_row: <%= @calibration.powertag('video_row') %>,
          <% end %>
          width: 640
        })
  
        setInterval($W.getRow,100)
        <% if @calibration %>
          $W.calibrated = true
          $W.calibration_id = <%= @calibration.id %>
          $W.start_wavelength = <%= @start_wavelength %>
          $W.end_wavelength = <%= @end_wavelength %>
          flotoptions.xaxis.show = true
        <% else %>
          $W.calibrated = false
        <% end %>
        <% if params[:action] == "match" %>
          $W.set = <%= @set.id %>
        <% end %>
    
      })();
    </script>
</body>
  
    <script>
        $(document).ready(function () {

        $('html').css('background', '#ffffff');

        $("div#capture-page-content").hide();
        $("div#capture-settings").hide();
        $("div#save-page").hide();

        $('#testnav .btn-group button').on('click', function () {
            $('#testnav .btn-group' ).find('button.active').removeClass('active');
            $(this).addClass('active');
        });

        $("button#landing-page-next").on('click', function () {
        $('#settingsbtn').trigger('click');
        });

        $("button#setting-page-next").on('click', function () {
        $('#capturebtn').trigger('click');
        });

        var stepper = new Stepper($('.bs-stepper')[0], {
        linear: false,
        animation: true,
        selectors: {
            steps: '.step',
            trigger: '.step-trigger',
            stepper: '.bs-stepper'
        }
        });

        $("#homebtn").on('click', function (params) {
        stepper.to(1);
        });
        $("#landing-page-next").on('click', function (params) {
        stepper.to(2);
        });
        
        $("#settingsbtn").on('click', function (params) {
        stepper.to(2);
        });
        $("#setting-page-next").on('click', function (params) {
        stepper.to(3);
        });

        $("#capturebtn").on('click', function (params) {
        stepper.to(3);
        });  
        })
    </script>