<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>SpectralWorkbench</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="An open source spectral library and DIY spectrometry community developing environmental testing techniques.">
    <meta name="author" content="Public Lab contributors">

    <%= javascript_include_tag "analyze" %>
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag "spectralworkbench/SpectralWorkbench" %>

    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= stylesheet_link_tag    "embed", :media => "all" %>
    <link rel="stylesheet" href="/lib/fontawesome/css/font-awesome.min.css"/>

    <%= csrf_meta_tag %>

    <script><%= render partial: 'layouts/locals', formats: [:js] %></script>

  </head>

  <body>

    <%= yield %>

  </body>
</html>
